Wsdl/system_v9_0/System.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns="http://www.travelport.com/schema/system_v9_0"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="http://www.travelport.com/schema/system_v9_0"
    xmlns:common="http://www.travelport.com/schema/common_v28_0"
    elementFormDefault="qualified" attributeFormDefault="unqualified">
     
    <xs:annotation>
        <xs:documentation>(c) Travelport GDS 2008 All rights reserved. Proprietary Information of Travelport GDS.</xs:documentation>
    </xs:annotation>

    <xs:import schemaLocation="../common_v28_0/CommonReqRsp.xsd" namespace="http://www.travelport.com/schema/common_v28_0"/>

    <!--*** Request Types ***--> 
    <xs:element name="PingReq">
        <xs:annotation>
            <xs:documentation>A simple request to test connectivity to the system without imposing any actions</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseReq">
                    <xs:sequence>
                        <xs:element ref="Payload" minOccurs="0" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="PingRsp">
        <xs:annotation>
            <xs:documentation>Response to the PingReq. Will contain the exact payload (if any) that was sent in</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseRsp">
                    <xs:sequence>
                        <xs:element ref="Payload" minOccurs="0" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="SystemInfoReq">
        <xs:annotation>
            <xs:documentation>Requests system information</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseReq" />
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="SystemInfoRsp">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseRsp">
                    <xs:sequence>
                        <xs:element ref="SystemInfo" />
                        <xs:element ref="SystemTime" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="TimeReq">
        <xs:annotation>
            <xs:documentation>Requests the time of the system</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseReq" />
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="TimeRsp">
        <xs:annotation>
            <xs:documentation>Returns the time of the system</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseRsp">
                    <xs:sequence>
                        <xs:element ref="SystemTime" minOccurs="0" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <!--*** Common Reference Elements ***-->
    <xs:element name="UserId">
        <xs:annotation>
            <xs:documentation>UserId Type</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="32" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Password">
        <xs:annotation>
            <xs:documentation>Password Type</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="32" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Payload">
        <xs:annotation>
            <xs:documentation>The payload container for the PingReq/Rsp</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="32768" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="SystemInfo">
        <xs:annotation>
            <xs:documentation>Identifies the type of system and version running.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="SystemType" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>Identifies whether or not this is a Production or Test system.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ApplicationVersion" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>The running version of the system.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Description" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>The description of the system.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="SystemTime">
        <xs:annotation>
            <xs:documentation>Identifies the time of the system.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string" />
        </xs:simpleType>
    </xs:element>
    <xs:element name="BridgedBranch">
        <xs:annotation>
            <xs:documentation>A branch, identified by a branch ID, that an agent, who belongs to another branch, is allowed to do work in.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="BranchId" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
    
    <!-- External cache access -->
     <xs:element name="ExternalCacheAccessReq">
        <xs:annotation>
            <xs:documentation>This is to delete/retrieve an entry from external cache.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseReq">
                    <xs:choice minOccurs="1">
                        <xs:element name="RetrieveEntry" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>To retrieve a cache entry</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:attribute name="Key" type="typeCacheKey" use="required">
                                    <xs:annotation>
                                        <xs:documentation>Cache entry key</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="DeleteEntry" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>To delete a cache entry</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:attribute name="Key" type="typeCacheKey" use="required">
                                    <xs:annotation>
                                        <xs:documentation>Cache entry key</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                    <xs:attribute name="CacheName" type="xs:string" use="required">
                        <xs:annotation>
                            <xs:documentation>Target Cache Name</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="ExternalCacheAccessRsp">
        <xs:annotation>
            <xs:documentation>The response to the CurrencyConversionReq.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseRsp">
                    <xs:sequence>
                        <xs:element name="CacheEntry" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute name="Key" type="typeCacheKey" use="required">
                                            <xs:annotation>
                                                <xs:documentation>Cache entry key</xs:documentation>
                                            </xs:annotation>
                                        </xs:attribute>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="typeCacheKey">
        <xs:annotation>
            <xs:documentation>External cache key</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    
    
</xs:schema>
