wsdl/vehicle_v17_0/VehicleReqRsp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns="http://www.travelport.com/schema/vehicle_v17_0" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:universalRecord_V16_0="http://www.travelport.com/schema/universal_v16_0"
    xmlns:common="http://www.travelport.com/schema/common_v15_0" 
    targetNamespace="http://www.travelport.com/schema/vehicle_v17_0" 
    elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:annotation>
        <xs:documentation>(c) Travelport GDS 2008 All rights reserved. Proprietary Information of Travelport GDS.</xs:documentation>
    </xs:annotation>
    <xs:import namespace="http://www.travelport.com/schema/common_v15_0" schemaLocation="../common_v15_0/CommonReqRsp.xsd"/>
    <xs:import namespace="http://www.travelport.com/schema/universal_v16_0" schemaLocation="../universal_v16_0/UniversalRecord.xsd"/>
    <xs:include schemaLocation="../vehicle_v17_0/Vehicle.xsd"/>
    <xs:element name="VehicleSearchAvailabilityReq">
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="BaseVehicleSearchAvailabilityReq">
               <xs:attribute name="ReturnMediaLinks" type="xs:boolean" use="optional" default="false">
                  <xs:annotation>
                     <xs:documentation>Set indicator to true to retrieve the media links.</xs:documentation>
                  </xs:annotation>
               </xs:attribute>
                <xs:attribute name="ReturnAllRates" type="xs:boolean" use="optional" default="false">
                 <xs:annotation>
                        <xs:documentation>Default, false.  If true, all available rates are returned if applicable for the specified provider.</xs:documentation>
                 </xs:annotation>
                </xs:attribute>
                <xs:attribute name="ReturnApproximateTotal" type="xs:boolean" use="optional" default="false">
                   <xs:annotation>
                       <xs:documentation>Applies only if ReturnAllRates is set to true.  If false, base rates are returned. If true, approximate total rates are returned as supported by the car vendor.  Default is false. </xs:documentation>
                   </xs:annotation>
                </xs:attribute>
                <xs:attribute name="ReturnExtraRateInfo" type="xs:boolean" use="optional" default="false">
                   <xs:annotation>
                       <xs:documentation>Applies only if ReturnAllRates is set to true. If false, basic rate details are returned. If true, additional rate information is returned.  Default is false.</xs:documentation>
                   </xs:annotation>
                </xs:attribute>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="VehicleSearchAvailabilityRsp">
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="BaseVehicleSearchAvailabilityRsp">
               <xs:attribute name="MediaLinksSearchId" type="xs:string" use="optional">
                  <xs:annotation>
                     <xs:documentation>Unique search id to retrieve the media links using VehicleMediaLinksReq.</xs:documentation>
                  </xs:annotation>
               </xs:attribute>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="VehicleLocationDetailReq">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseReq">
                    <xs:sequence>
                        <xs:element ref="Vendor"/>
                        <xs:element ref="VehicleDateLocation"/>
                        <xs:element ref="common:PointOfSale" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="VehicleLocationDetailRsp">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseRsp">
                    <xs:sequence>
                        <xs:element ref="VendorInfo"/>
                        <xs:element ref="LocationInfo" minOccurs="0" maxOccurs="2"/>
                        <xs:element ref="VehiclePolicy" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="VehicleCreateReservationReq">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseCreateReservationReq">
                    <xs:sequence>
                        <xs:element ref="VehicleDateLocation"/>
                        <xs:element ref="Vehicle"/>
                        <xs:element ref="common:SpecialEquipment" minOccurs="0" maxOccurs="5"/>
                        <xs:element ref="VehicleSpecialRequest" minOccurs="0"/>
                        <xs:element ref="PaymentInformation" minOccurs="0"/>
                        <xs:element ref="common:PointOfSale" minOccurs="0"/>
                        <xs:element ref="DeliveryAddress" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>An address to which a rental car should be delivered and a phone number associated with the address.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element ref="CollectionAddress" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>An address from which a rental car should be picked up at the end of a rental period and a phone number associated with the address.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element ref="FlightArrivalInformation" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>
                                    The flight arrival information 
                                    (airline code and flight number) for the 
                                    airport/city at which the rental car will
                                    be picked up
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element ref="common:Guarantee" minOccurs="0"/>
                        <xs:element ref="AssociatedRemark" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element ref="common:BookingSource" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Specify alternate booking source</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element ref="common:ReservationName" minOccurs="0">
                           <xs:annotation>
                              <xs:documentation>If specified then it will be used for GDS reservation otherwise first booking traveler will be used. </xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element ref="common:ThirdPartyInformation" minOccurs="0"/>
                        <xs:element ref="common:ActionStatus" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="VehicleCreateReservationRsp">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseRsp">
                    <xs:choice>
                        <xs:element ref="universalRecord_V16_0:UniversalRecord" minOccurs="0"/>
                    </xs:choice>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="VehicleRetrieveReq">
        <xs:annotation>
            <xs:documentation>PNR Retrieve request for a vehicle booking. Given a provider code and a provider locator code.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseReq">
                    <xs:attributeGroup ref="universalRecord_V16_0:providerReservation"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="VehicleRetrieveRsp">
        <xs:annotation>
            <xs:documentation>Response to a VehicleRetrieveReq.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseRsp">
                    <xs:sequence>
                        <xs:element ref="VehicleReservation" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="VehicleCancelReq">
        <xs:annotation>
            <xs:documentation>PNR Cancel request for a vehicle booking. Given a provider code and a provider locator code.</xs:documentation>
            <xs:documentation>This will cancel one or more vehicle segments based on the criteria given.  If more than one</xs:documentation>
            <xs:documentation>segment matches, then all matching will be removed.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseReq">
                    <xs:sequence>
                        <xs:element ref="VehicleDateLocation" minOccurs="0"/>
                        <xs:element ref="Vehicle" minOccurs="0"/>
                        <xs:element ref="common:FileFinishingInfo" minOccurs="0"/>
                    </xs:sequence>
                    <xs:attribute name="SupplierCode" type="xs:string" use="optional"/>
                    <xs:attribute name="SupplierLocatorCode" type="xs:string" use="optional"/>
                    <xs:attributeGroup ref="universalRecord_V16_0:providerReservation"/>
                    <xs:attribute name="Version" type="common:typeURVersion" use="required"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="VehicleCancelRsp">
        <xs:annotation>
            <xs:documentation>Response to a VehicleCancelReq. PNR returned reflects the requested modifications.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseRsp">
                    <xs:choice>
                        <xs:element ref="universalRecord_V16_0:UniversalRecord" minOccurs="0"/>
                    </xs:choice>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="VehicleRulesReq">
        <xs:annotation>
            <xs:documentation>Used to request  rules for a specific vehicle and rate.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseSearchReq">
                    <xs:choice>
                        <xs:element name="VehicleReservationLocatorCode" type="common:typeLocatorCode">
                            <xs:annotation>
                                <xs:documentation>Request vehicle rules using Locator code of existing vehicle reservation.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="VehicleRulesLookup">
                            <xs:annotation>
                                <xs:documentation>Details to request Vehicle rate rules post shopping request.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element ref="VehicleDateLocation"/>
                                    <xs:element ref="VehicleSearchModifiers"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="VehicleRulesRsp">
        <xs:annotation>
            <xs:documentation>The rules associated with a vehicle rental rate.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseSearchRsp">
                    <xs:sequence>
                        <xs:element ref="Vehicle"/>
                        <xs:element ref="OperationTime" minOccurs="0" maxOccurs="2"/>
                        <xs:element name="StartEndTimes" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>The earliest and latest pickup and dropoff times for this vehicle rental rate.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="EarliestStart" type="typeStartEndTime" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>The earliest a vehicle may be picked up.</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="LatestStart" type="typeStartEndTime" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="en">The latest a vehicle may be picked up.</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="LatestEnd" type="typeStartEndTime" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>The latest a vehicle may be dropped off.</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="RentalPeriodRules" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>The maximum and minimum rental periods. </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="MaxRental" type="typeRentalPeriod" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>The maximum rental period for this rate.</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="MinRental" type="typeRentalPeriod" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>The minimum rental period for this rate.</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="AbsoluteMax" type="typeRentalPeriod" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>The absolute maximum rental period for this rate.</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="DepositGuaranteeRule" minOccurs="0" maxOccurs="2">
                            <xs:annotation>
                                <xs:documentation>The deposit or guarantee rule for the vehicle rental.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension base="typeDepositGuarantee">
                                        <xs:sequence>
                                            <xs:element name="CreditCard" minOccurs="0" maxOccurs="13">
                                                <xs:annotation>
                                                    <xs:documentation>The two character credit card code.</xs:documentation>
                                                </xs:annotation>
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:length value="2"/>
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="PaymentCreditCard" minOccurs="0" maxOccurs="13">
                            <xs:annotation>
                                <xs:documentation>The two character code of a credit card accepted for payment.</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:length value="2"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="VehicleCharge" type="typeVehicleCharge" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Charges associated with the vehicle rental.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element ref="common:MarketingInformation" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="VehicleLocationReq">
        <xs:annotation>
            <xs:documentation>Used to request a list of vendors for a location (airport or city code).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseReq">
                    <xs:sequence>
                        <xs:element ref="Vendor" minOccurs="0" maxOccurs="3"/>
                        <xs:element name="PickupDateLocation" type="typePickupDateLocation">
                            <xs:annotation>
                                <xs:documentation>The date and location for which a list of vendors is requested.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element ref="common:ReferencePoint" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Search Car by reference point</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="VehicleLocationRsp">
        <xs:annotation>
            <xs:documentation>Returns a list of vendors and their locations for an airport or city code.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseRsp">
                    <xs:sequence>
                        <xs:element ref="VehicleLocation" minOccurs="0" maxOccurs="999"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="VehicleKeywordReq">
        <xs:annotation>
            <xs:documentation>Used to request a list of keywords or specific keyword information for a car vendor.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseSearchReq">
                    <xs:sequence>
                        <xs:element ref="Vendor"/>
                        <xs:element name="PickupDateLocation" type="typePickupDateLocation">
                            <xs:annotation>
                                <xs:documentation>The date and location for which a list of vendors is requested.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element ref="common:Keyword" minOccurs="0" maxOccurs="3">
                            <xs:annotation>
                                <xs:documentation>Used to request specific keyword details</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="KeywordList" type="xs:boolean">
                        <xs:annotation>
                            <xs:documentation>When true, a list of keywords should be returned.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="VehicleKeywordRsp">
        <xs:annotation>
            <xs:documentation>Used to respond with a list of keywords or specific keyword information.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseRsp">
                    <xs:sequence>
                        <xs:element name="Text" type="xs:string" minOccurs="0" maxOccurs="99">
                            <xs:annotation>
                                <xs:documentation>Information for this vendor not related to a keyword.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element ref="common:Keyword" minOccurs="0" maxOccurs="99">
                            <xs:annotation>
                                <xs:documentation>A word that a vendor uses to describe corporate policy/information.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="BaseVehicleSearchAvailabilityReq">
        <xs:annotation>
            <xs:documentation>Base request to search for vehicle availability.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="common:BaseSearchReq">
                <xs:sequence>
                    <xs:element ref="VehicleDateLocation"/>
                    <xs:element ref="VehicleSearchModifiers" minOccurs="0"/>
                    <xs:element ref="common:PointOfSale" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="BaseVehicleSearchAvailabilityRsp">
        <xs:annotation>
            <xs:documentation>Base response of vehicle availability response.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="common:BaseSearchRsp">
                <xs:sequence>
                    <xs:element ref="VehicleDateLocation"/>
                    <xs:element ref="Vehicle" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="VehicleUpsellSearchAvailabilityReq">
        <xs:annotation>
            <xs:documentation>Request to search Upsell offer availability for Vehicle.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BaseVehicleSearchAvailabilityReq"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="VehicleUpsellSearchAvailabilityRsp">
        <xs:annotation>
            <xs:documentation>Response of search Vehicle Upsell offer availability.</xs:documentation>
        </xs:annotation>    
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BaseVehicleSearchAvailabilityRsp"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="VehicleMediaLinksReq">
      <xs:annotation>
         <xs:documentation>Used to request a list of images for a location (airport or city code) and vendor.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="common:BaseReq">
               <xs:choice>
                  <xs:element ref="VehicleSearchId"/>
                  <xs:element ref="VehiclePickupLocation" maxOccurs="unbounded"/>
               </xs:choice>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="VehicleMediaLinksRsp">
      <xs:annotation>
         <xs:documentation>Response for vehicle image search results.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="common:BaseRsp">
               <xs:sequence>
                  <xs:element ref="VehicleWithMediaItems" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
</xs:schema>
