wsdl/universal_v16_0/UniversalRecordAbstract.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="AbstractUniversalRecordServices"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://www.travelport.com/service/universal_v16_0"
             xmlns:ur="http://www.travelport.com/schema/universal_v16_0"
             xmlns:ns1="http://www.travelport.com/schema/universal_v16_0"
             xmlns:common="http://www.travelport.com/schema/common_v15_0"
             targetNamespace="http://www.travelport.com/service/universal_v16_0">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema"
                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                targetNamespace="http://www.travelport.com/schema/universal_v16_0">
            <include schemaLocation="UniversalRecordReqRsp.xsd"/>
        </schema>
    </types>

    <message name="UniversalRecordRetrieveReq">
        <part name="parameters" element="ur:UniversalRecordRetrieveReq"/>
    </message>
    <message name="UniversalRecordRetrieveRsp">
        <part name="result" element="ur:UniversalRecordRetrieveRsp"/>
    </message>

    <message name="UniversalRecordSearchReq">
        <part name="parameters" element="ur:UniversalRecordSearchReq"/>
    </message>

    <message name="UniversalRecordSearchRsp">
        <part name="result" element="ur:UniversalRecordSearchRsp"/>
    </message>

    <message name="AckScheduleChangeReq">
        <part name="parameters" element="ur:AckScheduleChangeReq"/>
    </message>

    <message name="AckScheduleChangeRsp">
        <part name="result" element="ur:AckScheduleChangeRsp"/>
    </message>

    <message name="UniversalRecordModifyReq">
        <part name="parameters" element="ur:UniversalRecordModifyReq"/>
    </message>

    <message name="UniversalRecordModifyRsp">
        <part name="result" element="ur:UniversalRecordModifyRsp"/>
    </message>

    <message name="UniversalRecordImportReq">
        <part name="parameters" element="ur:UniversalRecordImportReq"/>
    </message>

    <message name="UniversalRecordImportRsp">
        <part name="result" element="ur:UniversalRecordImportRsp"/>
    </message>

    <message name="UniversalRecordFaultMessage">
        <part name="fault" element="common:ErrorInfo"/>
    </message>

    <message name="UniversalRecordSupportedVersions">
        <part name="supportedVersions" element="ur:SupportedVersions"/>
    </message>
    
    <message name="UniversalRecordArchivedFaultMessage">
        <part name="fault" element="ur:UniversalRecordErrorInfo"/>
    </message>

    <!-- Messages for the imported port types-->

    <message name="UniversalRecordCancelReq">
        <part name="parameters" element="ur:UniversalRecordCancelReq"/>
    </message>

    <message name="UniversalRecordCancelRsp">
        <part name="result" element="ur:UniversalRecordCancelRsp"/>
    </message>

    <message name="UniversalRecordHistorySearchReq">
        <part name="parameters" element="ur:UniversalRecordHistorySearchReq"/>
    </message>

    <message name="UniversalRecordHistorySearchRsp">
        <part name="result" element="ur:UniversalRecordHistorySearchRsp"/>
    </message>

    <message name="ProviderReservationDisplayReq">
        <part name="parameters" element="ur:ProviderReservationDisplayDetailsReq"/>
    </message>

    <message name="ProviderReservationDisplayRsp">
        <part name="result" element="ur:ProviderReservationDisplayDetailsRsp"/>
    </message>
    <message name="SavedTripCreateReq">
        <part name="parameters" element="ur:SavedTripCreateReq"/>
    </message>
    <message name="SavedTripCreateRsp">
        <part name="result" element="ur:SavedTripCreateRsp"/>
    </message>
    <message name="SavedTripModifyReq">
        <part name="parameters" element="ur:SavedTripModifyReq"/>
    </message>
    <message name="SavedTripModifyRsp">
        <part name="result" element="ur:SavedTripModifyRsp"/>
    </message>
    <message name="SavedTripRetrieveReq">
        <part name="parameters" element="ur:SavedTripRetrieveReq"/>
    </message>
    <message name="SavedTripRetrieveRsp">
        <part name="result" element="ur:SavedTripRetrieveRsp"/>
    </message>
    <message name="SavedTripDeleteReq">
        <part name="parameters" element="ur:SavedTripDeleteReq"/>
    </message>
    <message name="SavedTripDeleteRsp">
        <part name="result" element="ur:SavedTripDeleteRsp"/>
    </message>
    <message name="SavedTripSearchReq">
        <part name="parameters" element="ur:SavedTripSearchReq"/>
    </message>
    <message name="SavedTripSearchRsp">
        <part name="result" element="ur:SavedTripSearchRsp"/>
    </message>    
    <!---->

    <portType name="UniversalRecordRetrieveServicePortType">
        <operation name="service">
            <input message="tns:UniversalRecordRetrieveReq"/>
            <output message="tns:UniversalRecordRetrieveRsp"/>
            <fault name="ErrorInfoMsg" message="tns:UniversalRecordFaultMessage"/>
            <fault name="UniversalRecordErrorInfoMsg" message="tns:UniversalRecordArchivedFaultMessage"/>
        </operation>
    </portType>
    

    <portType name="UniversalRecordSearchServicePortType">
        <operation name="service">
            <input message="tns:UniversalRecordSearchReq"/>
            <output message="tns:UniversalRecordSearchRsp"/>
            <fault name="ErrorInfoMsg" message="tns:UniversalRecordFaultMessage"/>
        </operation>
    </portType>

    <portType name="AckScheduleChangeServicePortType">
        <operation name="service">
            <input message="tns:AckScheduleChangeReq"/>
            <output message="tns:AckScheduleChangeRsp"/>
            <fault name="ErrorInfoMsg" message="tns:UniversalRecordFaultMessage"/>
        </operation>
    </portType>

    <portType name="UniversalRecordImportServicePortType">
        <operation name="service">
            <input message="tns:UniversalRecordImportReq"/>
            <output message="tns:UniversalRecordImportRsp"/>
            <fault name="ErrorInfoMsg" message="tns:UniversalRecordFaultMessage"/>
        </operation>
    </portType>

    <portType name="UniversalRecordModifyServicePortType">
        <operation name="service">
            <input message="tns:UniversalRecordModifyReq"/>
            <output message="tns:UniversalRecordModifyRsp"/>
            <fault name="ErrorInfoMsg" message="tns:UniversalRecordFaultMessage"/>
        </operation>
    </portType>

    <portType name="UniversalRecordCancelServicePortType">
        <operation name="service">
            <input message="tns:UniversalRecordCancelReq"/>
            <output message="tns:UniversalRecordCancelRsp"/>
            <fault name="ErrorInfoMsg" message="tns:UniversalRecordFaultMessage"/>
        </operation>
    </portType>

    <portType name="UniversalRecordHistorySearchPortType">
        <operation name="service">
            <input message="tns:UniversalRecordHistorySearchReq"/>
            <output message="tns:UniversalRecordHistorySearchRsp"/>
            <fault name="ErrorInfoMsg" message="tns:UniversalRecordFaultMessage"/>
        </operation>
    </portType>

    <portType name="ProviderReservationDisplayServicePortType">
        <operation name="service">
            <input message="tns:ProviderReservationDisplayReq"/>
            <output message="tns:ProviderReservationDisplayRsp"/>
            <fault name="ErrorInfoMsg" message="tns:UniversalRecordFaultMessage"/>
        </operation>
    </portType>
    <portType name="SavedTripCreateServicePortType">
        <operation name="service">
            <input message="tns:SavedTripCreateReq"/>
            <output message="tns:SavedTripCreateRsp"/>
            <fault name="ErrorInfoMsg" message="tns:UniversalRecordFaultMessage"/>
        </operation>
    </portType>
    <portType name="SavedTripModifyServicePortType">
        <operation name="service">
            <input message="tns:SavedTripModifyReq"/>
            <output message="tns:SavedTripModifyRsp"/>
            <fault name="ErrorInfoMsg" message="tns:UniversalRecordFaultMessage"/>
        </operation>
    </portType>
    <portType name="SavedTripRetrieveServicePortType">
        <operation name="service">
            <input message="tns:SavedTripRetrieveReq"/>
            <output message="tns:SavedTripRetrieveRsp"/>
            <fault name="ErrorInfoMsg" message="tns:UniversalRecordFaultMessage"/>
        </operation>
    </portType>
    <portType name="SavedTripDeleteServicePortType">
        <operation name="service">
            <input message="tns:SavedTripDeleteReq"/>
            <output message="tns:SavedTripDeleteRsp"/>
            <fault name="ErrorInfoMsg" message="tns:UniversalRecordFaultMessage"/>
        </operation>
    </portType>
    <portType name="SavedTripSearchServicePortType">
        <operation name="service">
            <input message="tns:SavedTripSearchReq"/>
            <output message="tns:SavedTripSearchRsp"/>
            <fault name="ErrorInfoMsg" message="tns:UniversalRecordFaultMessage"/>
        </operation>
    </portType>

</definitions>
