wsdl/universal_v16_0/UniversalRecordReqRsp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.travelport.com/schema/universal_v16_0"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.travelport.com/schema/universal_v16_0"
    xmlns:common="http://www.travelport.com/schema/common_v15_0"
    xmlns:air_v18_0="http://www.travelport.com/schema/air_v18_0"
    elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:annotation>
        <xs:documentation>
            (c) Travelport GDS 2008 All rights reserved. Proprietary
            Information of Travelport GDS.
        </xs:documentation>
    </xs:annotation>
    <xs:import schemaLocation="../common_v15_0/CommonReqRsp.xsd"
        namespace="http://www.travelport.com/schema/common_v15_0" />
    <xs:import schemaLocation="../air_v18_0/Air.xsd" namespace="http://www.travelport.com/schema/air_v18_0" />
    <xs:include schemaLocation="UniversalRecord.xsd" />

    <!--*** Request Types ***-->
    <xs:element name="UniversalRecordRetrieveReq">
        <xs:annotation>
            <xs:documentation>
                Request to retrieve a summary information for
                reservations under a Universal Record
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseReq">
                    <xs:attribute name="UniversalRecordLocatorCode"
                        type="common:typeLocatorCode" use="required">
                        <xs:annotation>
                            <xs:documentation>
                                Represents a valid Universal Record
                                locator code
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UniversalRecordRetrieveRsp">
        <xs:annotation>
            <xs:documentation>
                Return a Universal Record
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseRsp">
                    <xs:sequence>
                        <xs:element ref="UniversalRecord" />
                    </xs:sequence>
                    <xs:attribute name="Updated" type="xs:boolean"
                        use="optional" default="false">
                        <xs:annotation>
                            <xs:documentation>
                                Returns true if the underlying
                                reservation has changed since it was
                                last accessed
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UniversalRecordCancelReq">
        <xs:annotation>
            <xs:documentation>
                Request to Cancel an Universal Record
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseReq">
                    <xs:sequence>
                        <xs:element ref="common:FileFinishingInfo" minOccurs="0" />
                    </xs:sequence>
                    <xs:attribute name="UniversalRecordLocatorCode"
                        type="common:typeLocatorCode" use="required">
                        <xs:annotation>
                            <xs:documentation>
                                Represents a valid Universal Record
                                locator code
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="Version" type="common:typeURVersion" use="required" />
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UniversalRecordCancelRsp">
        <xs:annotation>
            <xs:documentation>
                Return status for each provider reservation
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseRsp">
                    <xs:sequence>
                        <xs:element ref="ProviderReservationStatus"
                            minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="AckScheduleChangeReq">
        <xs:annotation>
            <xs:documentation>
                Request to acknowledge you have received the schedule
                change notification
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseReq">
                    <xs:attribute name="UniversalRecordLocatorCode"
                        type="xs:string" use="required" />
                    <xs:attributeGroup
                        ref="optionalProviderReservation" />
                    <xs:attribute name="ReservationLocatorCode"
                        type="xs:string" use="optional" />
                    <xs:attribute name="Version"
                        type="common:typeURVersion" use="required" />
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AckScheduleChangeRsp">
        <xs:annotation>
            <xs:documentation>
                Return the updated air portion of the Universal Record
                when accepting the Schedule Change
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseRsp">
                    <xs:sequence>
                        <xs:element ref="UniversalRecord" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UniversalRecordImportReq">
        <xs:annotation>
            <xs:documentation>
                Imports a external reservation into a G2 Universal
                Record
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseReq">
                    <xs:sequence>
                        <xs:element ref="common:FileFinishingInfo" minOccurs="0" />
                    </xs:sequence>
                    <xs:attributeGroup ref="providerReservation" />
                    <xs:attribute name="UniversalRecordLocatorCode" type="common:typeLocatorCode"   use="optional">
                        <xs:annotation>
                            <xs:documentation>Required if to be imported in existing UniversalRecord.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UniversalRecordImportRsp">
        <xs:annotation>
            <xs:documentation>
                Return the new Universal Record that was created from an
                external reservation
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseRsp">
                    <xs:sequence>
                        <xs:element ref="UniversalRecord" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UniversalRecordModifyReq">
        <xs:annotation>
            <xs:documentation>
                Update the universal record
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseReq">
                    <xs:sequence>
                        <xs:element ref="common:ContinuityCheckOverride"
                            minOccurs="0" maxOccurs="1" />
                        <xs:element ref="RecordIdentifier" />
                        <xs:element ref="UniversalModifyCmd"
                            maxOccurs="unbounded" />
                        <xs:element ref="common:FileFinishingInfo" minOccurs="0" />
                        <xs:element ref="QueueNextModifiers" minOccurs="0"/>
                    </xs:sequence>
                    <xs:attribute name="ReturnRecord" type="xs:boolean"
                        use="optional" default="false">
                        <xs:annotation>
                            <xs:documentation>
                                Either the updated UniversalRecord or 
                                Universal Record for next on queue
                                should be returned in the response
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="Version"
                        type="common:typeURVersion" use="required" />
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UniversalRecordModifyRsp">
        <xs:annotation>
            <xs:documentation>
                Return a Universal Record
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseRsp">
                    <xs:sequence>
                        <xs:element ref="UniversalRecord" minOccurs="0" />
                        <xs:element ref="air_v18_0:AirSolutionChangedInfo" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element ref="air_v18_0:AirSegmentSellFailureInfo" minOccurs="0"/>
                        <xs:element ref="common:RequestKeyMappings" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                    <xs:attribute name="AttributesRekeyed" type="xs:boolean" use="optional" default="false">
                        <xs:annotation>
                            <xs:documentation>
                                Set to true if element keys have changed.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- Imported from G2Pnr.xsd-->
    <xs:element name="UniversalRecordHistorySearchReq">
        <xs:annotation>
            <xs:documentation>
                Search the history of a Universal Record.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseReq">
                    <xs:sequence>
                        <xs:element
                            ref="UniversalRecordHistorySearchModifiers" minOccurs="0" />
                    </xs:sequence>
                    <xs:attribute name="UniversalRecordLocatorCode"
                        type="common:typeLocatorCode" use="required">
                        <xs:annotation>
                            <xs:documentation>
                                Represents a valid Universal Record
                                locator code
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UniversalRecordHistorySearchRsp">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseRsp">
                    <xs:sequence>
                        <xs:element
                            ref="UniversalRecordHistorySearchResult" minOccurs="0"
                            maxOccurs="unbounded" />
                    </xs:sequence>
                    <xs:attribute name="LastResult" type="xs:boolean">
                        <xs:annotation>
                            <xs:documentation>
                                Indicate when the search query reached
                                the last result.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <!-- UR search -->
    <xs:element name="UniversalRecordSearchReq">
        <xs:annotation>
            <xs:documentation>
                Request to retrieve a summary information for reservations under a Universal Record
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseReq">
                    <xs:sequence>
                        <xs:element ref="UniversalRecordSearchModifiers" minOccurs="0" />
                        <xs:group ref="SearchCriteriaGroup"/>
                        <xs:element ref="SearchAccount" minOccurs="0" />
                    </xs:sequence>
                    <xs:attribute name="ActionDate" type="xs:date" />
                    <xs:attribute name="RecordStatus" type="common:typeRecordStatus" />
                    <xs:attribute name="ClientId" type="xs:string" />
                    <xs:attribute name="ProviderCode" type="xs:string" />
                    <xs:attribute name="ProviderLocatorCode" type="xs:string" />
                    <xs:attribute name="ExternalSearchIndex" type="typeExternalSearchIndex" />
                    <xs:attribute name="PassiveOnly"  type="xs:boolean" use="optional" default="false">
                        <xs:annotation>
                           <xs:documentation>Search for Passives Only</xs:documentation>
                        </xs:annotation>
                     </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
     <xs:element name="UniversalRecordSearchRsp">
        <xs:annotation>
            <xs:documentation> Response containing summary information for reservations under a Universal Record </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseRsp">
                    <xs:sequence>
                        <xs:element ref="UniversalRecordSearchResult" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                    <xs:attribute name="MoreResults" type="common:typeMoreResults" use="required" />
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <!-- end UR search -->
    <xs:element name="SavedTripDeleteReq">
        <xs:annotation>
            <xs:documentation>
                Request to delete saved Trip 
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseReq">
                    <xs:attribute name="LocatorCode"
                        type="common:typeLocatorCode" use="optional">
                        <xs:annotation>
                            <xs:documentation>
                                Represents a valid Saved Trip locator code
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="SavedTripDeleteRsp">
      <xs:annotation>
         <xs:documentation>
            Response to delete saved Trip 
         </xs:documentation>       
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="common:BaseRsp"/>
         </xs:complexContent>
      </xs:complexType>         
   </xs:element>
    
    <xs:element name="ProviderReservationDisplayDetailsReq">
      <xs:annotation>
         <xs:documentation>
            Request to display the addtional details of provider reservation information .
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="common:BaseReq">
               <xs:attributeGroup ref="providerReservation"/>
               <xs:attributeGroup ref="attrProviderReservationDetails"/>               
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="ProviderReservationDisplayDetailsRsp">
      <xs:annotation>
         <xs:documentation>
            Response to display the addtional details of provider reservation information  .
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="common:BaseRsp">
               <xs:sequence>
                  <xs:element ref="DisplayDetails" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
    
   <!--  Saved Trip Request Response -->
    <xs:element name="SavedTripCreateReq">
      <xs:annotation>
         <xs:documentation>Request to create a SavedTrip.</xs:documentation>
      </xs:annotation>
         <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseReq">
                    <xs:sequence>
                        <xs:element ref="SavedTrip" minOccurs="0" />
                    </xs:sequence>              
                </xs:extension>
            </xs:complexContent>
         </xs:complexType>
   </xs:element>
   <xs:element name="SavedTripCreateRsp">
      <xs:annotation>
         <xs:documentation>Response to SavedTripCreateReq. Contains the SavedTrip successfully created.</xs:documentation>
      </xs:annotation>
          <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseRsp">
                    <xs:sequence>
                        <xs:element ref="SavedTrip" minOccurs="0" />
                    </xs:sequence>              
                </xs:extension>
            </xs:complexContent>
      </xs:complexType>
    </xs:element>
    <xs:element name="SavedTripModifyReq">
      <xs:annotation>
         <xs:documentation>Request to modify an existing SavedTrip using the LocatorCode of the SavedTrip as the SavedTrip identifier.</xs:documentation>
      </xs:annotation>
            <xs:complexType>
              <xs:complexContent>
                    <xs:extension base="common:BaseReq">
                        <xs:sequence>
                            <xs:element ref="SavedTrip" minOccurs="0" />
                        </xs:sequence>              
                    </xs:extension>
              </xs:complexContent>
            </xs:complexType>
   </xs:element>
   <xs:element name="SavedTripModifyRsp">
      <xs:annotation>
         <xs:documentation>Response to SavedTripModifyReq. Contains the SavedTrip successfully modified.</xs:documentation>
      </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseRsp">
                    <xs:sequence>
                        <xs:element ref="SavedTrip" minOccurs="0" />
                    </xs:sequence>              
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="SavedTripRetrieveReq">
        <xs:annotation>
            <xs:documentation>Request to Retrieve saved Trip based on locatorcode</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseReq">
                    <xs:attribute name="LocatorCode"
                        type="common:typeLocatorCode" use="optional">
                        <xs:annotation>
                            <xs:documentation>Represents a valid Saved Trip locatorcode.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

   <xs:element name="SavedTripRetrieveRsp">
      <xs:annotation>
         <xs:documentation>Response to SavedTripRetrieveReq. Contains the SavedTrip successfully Retrieved.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="common:BaseRsp">
               <xs:sequence>
                  <xs:element ref="SavedTrip" minOccurs="0" />
               </xs:sequence>              
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>     
    
    <xs:element name="SavedTripSearchReq">
        <xs:annotation>
            <xs:documentation>
                Request to retrieve a summary information for reservations under a SavedTrip
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseReq">
                    <xs:sequence>
                        <xs:element ref="SavedTripSearchModifiers" minOccurs="0" />
                        <xs:group ref="SearchCriteriaGroup"/>
                    </xs:sequence>
                    <xs:attribute name="RecordStatus" type="typeSavedTripRecordStatus"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="SavedTripSearchRsp">
        <xs:annotation>
            <xs:documentation> Response containing summary information of savedTrip </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseRsp">
                    <xs:sequence>
                        <xs:element ref="SavedTripSearchResult" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>   
    
    <xs:element name="UniversalRecordErrorInfo">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:typeErrorInfo">
                    <xs:sequence>
                        <xs:element name="LocatorCode" type="common:typeLocatorCode">
                            <xs:annotation>
                                <xs:documentation>Universal Record Locator Code.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Version" type="common:typeURVersion">
                            <xs:annotation>
                                <xs:documentation>Version of Universal Record.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>       
</xs:schema>
