Wsdl/hotel_v29_0/Hotel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.travelport.com/schema/hotel_v29_0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.travelport.com/schema/hotel_v29_0"
           xmlns:common="http://www.travelport.com/schema/common_v29_0"
           elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:annotation>
        <xs:documentation>(c) Travelport GDS 2008 All rights reserved. Proprietary Information of Travelport GDS.</xs:documentation>
    </xs:annotation>
    <xs:import schemaLocation="../common_v29_0/Common.xsd" namespace="http://www.travelport.com/schema/common_v29_0"/>
    <xs:element name="HotelReservation">
        <xs:annotation>
            <xs:documentation>The complete Hotel Reservation</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseReservation">
                    <xs:sequence>
                        <xs:element ref="common:BookingTravelerRef" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:group ref="BaseHotelReservationGroup"/>
                    </xs:sequence>                                        
                    <xs:attribute name="Status" type="xs:string" use="required"/>
                    <xs:attribute name="BookingConfirmation" type="xs:string" use="optional"/>
                    <xs:attribute name="CancelConfirmation" type="xs:string" use="optional"/>
                    <xs:attribute name="ProviderReservationInfoRef" type="common:typeRef" use="optional">
                        <xs:annotation>
                            <xs:documentation>Provider reservation reference key.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="TravelOrder" type="xs:integer" use="optional">
                        <xs:annotation>
                            <xs:documentation>To identify the appropriate sequence for Air/Car/Hotel segments based on travel dates.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="PassiveProviderReservationInfoRef"
                        type="common:typeRef" use="optional">
                        <xs:annotation>
                            <xs:documentation>Passive Provider reservation reference
                                key.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="AsyncProviderSpecificResponse" type="common:BaseAsyncProviderSpecificResponse">
        <xs:annotation>
            <xs:documentation>Identifies pending responses from a specific provider using MoreResults attribute</xs:documentation>
        </xs:annotation>
    </xs:element>      

    <xs:element name="HotelProperty">
        <xs:annotation>
            <xs:documentation>The hotel property</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="PropertyAddress" type="typeUnstructuredAddress" minOccurs="0"/>
                <xs:element ref="common:PhoneNumber" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="common:CoordinateLocation" minOccurs="0"/>
                <xs:element ref="common:Distance" minOccurs="0"/>
                <xs:element ref="HotelRating" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="Amenities" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="HotelChain" type="common:typeHotelChainCode" use="required"/>
            <xs:attribute name="HotelCode" type="common:typeHotelCode" use="required"/>
            <xs:attribute name="HotelLocation" type="typeHotelLocationCode" use="optional">
                <xs:annotation>
                    <xs:documentation>The location code for this entity. IATA code or TRM code.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Name" type="xs:string" use="optional"/>
            <xs:attribute name="VendorLocationKey" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>The VendorLocationKey for this HotelProperty.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="HotelTransportation" type="typeTransportationType" use="optional">
                <xs:annotation>
                    <xs:documentation>Transportation available to hotel</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ReserveRequirement" type="common:typeReserveRequirement" use="optional"/>
            <xs:attribute name="ParticipationLevel" type="xs:string" use="optional" >
                <xs:annotation>
                    <xs:documentation>Hotel Vendor Participation Level </xs:documentation>
                    <xs:documentation>Varies by provider </xs:documentation>
                    <xs:documentation>e.g. Best Available Rate Participant, Hotel Shopper Participant</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Availability" type="typeHotelAvailability" use="optional"/>
            <xs:attribute name="FeaturedProperty" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>When true, this is a featured property participant.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Key" type="common:typeRef" use="optional"/>  
            <xs:attribute name="PreferredOption" type="xs:boolean" use="optional">
            <xs:annotation>
               <xs:documentation>This attribute is used to indicate if the vendors responsible for the fare or rate being returned have been determined to be ‘preferred’ based on the associated policy settings.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="MoreRates" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>When true, more rates are available for this hotel property.Applicable only for HotelDetails and HotelSuperShopper.  Supported Providers: 1G, 1V.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="NetTransCommissionInd" type="typeNetTransCommission" use="optional">
            <xs:annotation>
               <xs:documentation>This attribute indicates whether hotel property is tracking through net trans commission indicator.</xs:documentation>
            </xs:annotation>
         </xs:attribute>                            
        </xs:complexType>        
    </xs:element>

	<xs:simpleType name="typeNetTransCommission">
      <xs:annotation>
         	<xs:documentation>Type to support net trans commission indicator. Supported for 1G and 1V provider. </xs:documentation>
			<xs:documentation>A stands for Excellent.</xs:documentation>
			<xs:documentation>B stands for Good.</xs:documentation>
			<xs:documentation>C stands for Poor.</xs:documentation>
			<xs:documentation>P stands for Payment Bureau</xs:documentation>
			<xs:documentation>X stands for Unknown. To support any other value than A,B,C and P.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="1"/>
         <xs:enumeration value="A"/>
         <xs:enumeration value="B"/>
         <xs:enumeration value="C"/>
         <xs:enumeration value="P"/>
		 <xs:enumeration value="X"/>
      </xs:restriction>
   </xs:simpleType>
   
    <xs:element name="HotelRateDetail">
        <xs:annotation>
            <xs:documentation>Rate Details</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="RoomRateDescription" type="typeHotelRateDescription" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="HotelRateByDate" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="common:CorporateDiscountID" minOccurs="0" maxOccurs="unbounded">
                   <xs:annotation>
                      <xs:documentation>Corporate Discount IDs and Negotiate rate codes associated with this rate</xs:documentation>
                   </xs:annotation>
               </xs:element>
                <xs:element ref="RateMatchIndicator" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>Returns "Match" Indicators for certain request parameters for Hotel Rate returned in response.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="TaxDetails" minOccurs="0"/>
                <xs:element ref="MealPlans" minOccurs="0"/>
                <xs:element ref="CancelInfo" minOccurs="0"/>
                <xs:element ref="GuaranteeInfo" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Guarantee, deposit, and prepayment information</xs:documentation>
                    </xs:annotation>
            	</xs:element>
            	<xs:element ref="RoomView" minOccurs="0">
	               <xs:annotation>
	                  <xs:documentation>Hotel room view information. Supports 1G,1V,1P,1J and HS3</xs:documentation>
	               </xs:annotation>
	            </xs:element>
            	<xs:element name="TaxSurchargeInfo" type="xs:string" minOccurs="0">
	               <xs:annotation>
	                  <xs:documentation>Additional tax and surcharge info provided by the supplier.  Applicable for TRM only</xs:documentation>
	               </xs:annotation>
            	</xs:element>
            </xs:sequence>
            <xs:attribute name="RatePlanType" type="common:typeRatePlanType" use="required"/>
            <xs:attributeGroup ref="attrHotelRate"/>
            <xs:attribute name="ApproximateBase" type="common:typeMoney" use="optional">
                <xs:annotation>
                    <xs:documentation>Hotel base rate expressed in another currency</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ApproximateTax" type="common:typeMoney" use="optional">
                <xs:annotation>
                    <xs:documentation>Taxes expressed in another currency</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ApproximateTotal" type="common:typeMoney" use="optional">
                <xs:annotation>
                    <xs:documentation>Hotel total rate expressed in another currency. For TRM, ApproximateTotal is without fees</xs:documentation>
                </xs:annotation>
            </xs:attribute>            
            <xs:attribute name="ApproximateSurcharge" type="common:typeMoney" use="optional">
	            <xs:annotation>
	               <xs:documentation>Surcharge associated with the room expressed in another currency.  Applicable for TRM only.</xs:documentation>
	            </xs:annotation>
            </xs:attribute>
            <xs:attribute name="RateGuaranteed" type="xs:boolean" use="optional"/>            
            <xs:attribute name="ApproximateRateGuaranteed" type="xs:boolean" use="optional">
                <xs:annotation>
                    <xs:documentation>If true, approximate rate is guaranteed by vendor.  Supported Providers: 1G,1V</xs:documentation>
                </xs:annotation>
         </xs:attribute>
            <xs:attribute name="RateCategory" type="typeHotelRateCategory">
                <xs:annotation>
                    <xs:documentation>The category of this rate (Best, Standard etc.)</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Key" type="common:typeRef" use="optional"/>
            <xs:attribute name="RateSupplier" type="common:typeThirdPartySupplier" use="optional">
                <xs:annotation>
                    <xs:documentation>Indicates the supplier of the rate.  Maybe required for hotels provided by aggregators.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="RateOfferId" type="typeRateOfferId" use="optional">
                <xs:annotation>
                    <xs:documentation>Offer Identifier. Maybe required for hotels provided by aggregators.</xs:documentation>
                </xs:annotation>
            </xs:attribute>  
            <xs:attribute name="InPolicy" type="xs:boolean" use="optional">
            <xs:annotation>
               <xs:documentation>This attribute will be used to indicate if a fare or rate has been determined to be ‘in policy’ based on the associated policy settings.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="PolicyCode" use="optional" type="common:typePolicyCode">
            <xs:annotation>
               <xs:documentation>This attribute is used to provide a code that can be used to determine why an item was determined to be ‘out of policy’.</xs:documentation>
            </xs:annotation>
         </xs:attribute>                      
        </xs:complexType>
    </xs:element>
    
    <xs:element name="TaxDetails">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Tax" minOccurs="1" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Tax">
    <xs:complexType>
        <xs:choice>
            <xs:element name="Amount" type="common:typeMoney" minOccurs="1" />
            <xs:element name="Percentage" type="xs:float" minOccurs="1" />
        </xs:choice>
        <xs:attribute name="Code" type="xs:string" use="required" />
        <xs:attribute name="EffectiveDate" type="xs:date" use="optional" />
        <xs:attribute name="ExpirationDate" type="xs:date" use="optional" />
        <xs:attribute name="Term" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>Indicates how the tax is applied. Values can be PerPerson, PerNight and PerStay</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="CollectionFreq" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>Indicates how often the tax is collected. Values can be Once or Daily</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    </xs:element>
    <xs:element name="GuestInformation">
        <xs:annotation>
            <xs:documentation>The information like number of rooms ,number of adults,children to be provided while booking the  hotel</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="NumberOfAdults" minOccurs="0"/>
                <xs:element ref="NumberOfChildren" minOccurs="0"/>
            	<xs:element name="ExtraChild" minOccurs="0">
               		<xs:annotation>
                  		<xs:documentation>Providers: 1p/1j</xs:documentation>
               		</xs:annotation>
               		<xs:complexType>
                  		<xs:attribute name="Count" type="xs:int">
                     		<xs:annotation>
                        		<xs:documentation>The number of extra children in the room</xs:documentation>
                     		</xs:annotation>
                  		</xs:attribute>
                  		<xs:attribute name="Content" type="xs:string">
                     		<xs:annotation>
                        		<xs:documentation>Additional information</xs:documentation>
                     		</xs:annotation>
                  		</xs:attribute>
               		</xs:complexType>
            	</xs:element>
         	</xs:sequence>
            <xs:attribute name="NumberOfRooms" type="xs:int" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="NumberOfAdults">
        <xs:annotation>
            <xs:documentation>Number of Adults</xs:documentation>
        </xs:annotation>
        <xs:complexType>
           <xs:simpleContent>
             <xs:extension base="xs:string">
                <xs:attribute name="ExtraAdults" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>The number of extra adults in the room ,use '0' to delete the extra adults</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="Amount" type="common:typeMoney" use="optional">
                  <xs:annotation>
                     <xs:documentation>Fee for extra adults.  Providers: 1g/1v/1p/1j</xs:documentation>
                  </xs:annotation>
               </xs:attribute>
               <xs:attribute name="Content" type="xs:string" use="optional">
                  <xs:annotation>
                     <xs:documentation>Additional information.  Providers 1p/1j</xs:documentation>
                  </xs:annotation>
               </xs:attribute>
            </xs:extension> 
           </xs:simpleContent>      
        </xs:complexType>
    </xs:element>
    <xs:element name="HotelRateByDate">
        <xs:annotation>
            <xs:documentation>The daily rate details</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="EffectiveDate" type="xs:string" use="optional"/>
            <xs:attribute name="ExpireDate" type="xs:string" use="optional"/>
            <xs:attributeGroup ref="attrHotelRate"/>
            <xs:attribute name="ApproximateBase" type="common:typeMoney" use="optional">
                <xs:annotation>
                    <xs:documentation>Hotel base rate expressed in another currency</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ApproximateTotal" type="common:typeMoney" use="optional">
                <xs:annotation>
                    <xs:documentation>Hotel total rate expressed in another currency.  Supported Providers: 1P,1J</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Contents" type="xs:string" use="optional">
                <xs:annotation>
                  <xs:documentation>Contents will be representing all unformatted data returned by HOST, those are not uAPI supported. Support provider 1P and 1J.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <xs:attributeGroup name="attrHotelRate">
      <xs:annotation>
         <xs:documentation>Attributes used to describe Hotel Rates</xs:documentation>
      </xs:annotation>
      <xs:attribute name="Base" type="common:typeMoney" use="optional">
         <xs:annotation>
            <xs:documentation>This attribute is used to describe the Hotel Supplier Base Rate</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Tax" type="common:typeMoney" use="optional">
         <xs:annotation>
            <xs:documentation>This attribute used to describe Tax associated with the room</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Total" type="common:typeMoney" use="optional">
         <xs:annotation>
            <xs:documentation>This attribute used to describe Hotel Supplier Total Rate</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Surcharge" type="common:typeMoney" use="optional">
         <xs:annotation>
            <xs:documentation>This attribute used to describe Surcharge associated with the room</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:attributeGroup>   
    
    <xs:element name="HotelSpecialRequest" type="common:typeGeneralText"/>

    <xs:element name="HotelStay">
            <xs:annotation>
                <xs:documentation>Arrival and Departure dates</xs:documentation>
            </xs:annotation>
            <xs:complexType>
            <xs:sequence>
                <xs:element name="CheckinDate" type="typeDate"/>
                <xs:element name="CheckoutDate" type="typeDate"/>
            </xs:sequence>
            <xs:attribute name="Key" type="common:typeRef" use="optional"/>
            </xs:complexType>
    </xs:element>

    <!--*** Shared reference elements ***-->
    <xs:element name="HotelChain">
        <xs:annotation>
            <xs:documentation>The hotel chain code</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="Code" type="common:typeHotelChainCode" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="HotelLocation">
        <xs:annotation>
            <xs:documentation>Date and Location information for the Hotel. Location can be optional if a Reference Point is provided.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="Location" type="common:typeIATACode" use="optional">
            <xs:annotation>
               <xs:documentation>IATA city/airport code</xs:documentation>
            </xs:annotation>
            </xs:attribute>
            <xs:attribute name="LocationType" type="typeHotelLocation" default="Airport"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="HotelSearchLocation">
      <xs:annotation>
         <xs:documentation>Location information for the hotel.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="HotelLocation" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>Date and Location information for the Hotel.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element ref="ProviderLocation" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>Provider specific Hotel location.  Applicable for TRM only.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element ref="common:VendorLocation" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="HotelAddress" type="common:typeStructuredAddress" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>Search by address or postal code.  Applicable for 1G, 1V, 1P, 1J</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="ReferencePoint" type="typeHotelReferencePoint" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>Search for hotels near a reference point. HotelLocation/Location is mandatory for aggregated scenario if ReferencePoint is used. Applicable for 1G,1V,1P,1J.  Country/State are only applicable for 1P/1J</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element ref="common:CoordinateLocation" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>Search using latitude and longitude.  Applicable for 1G, 1V only. Not applicable for HotelSuperShopper</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element ref="common:Distance" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:element name="ProviderLocation">
      <xs:annotation>
         <xs:documentation>Provider specific Hotel location.  Applicable for TRM only.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:attribute name="ProviderCode" type="common:typeProviderCode" use="required">
            <xs:annotation>
               <xs:documentation>Code for the provider.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="Location" use="required">
            <xs:annotation>
               <xs:documentation>6 character location code.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="6"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
    </xs:element>
    <xs:element name="HotelDetailItem">
        <xs:annotation>
            <xs:documentation>Textual information about the hotel</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Text" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="Name" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="HotelDetailsModifiers">
      <xs:annotation>
         <xs:documentation>Controls and switches for the Hotel Details request</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="common:PermittedProviders" minOccurs="0"/>
            <xs:element ref="common:LoyaltyCard" minOccurs="0" maxOccurs="4"/>
            <xs:element ref="common:CorporateDiscountID" minOccurs="0" maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>Search with corporate discount IDs or negotiated rate codes. 1G/1V allows a max of 4.  1P/1J allows a max of 1 corporate discount ID and up to 30 negotiated rate codes.  Support for this function is hotel supplier dependent.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element ref="HotelStay"/>
            <xs:element ref="NumberOfChildren" minOccurs="0"/>
            <xs:element ref="HotelBedding" minOccurs="0" maxOccurs="4"/>
            <xs:element name="RateCategory" type="typeHotelRateCategory" minOccurs="0" maxOccurs="8">
               <xs:annotation>
                  <xs:documentation>Specify Rate Category</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:sequence>
         <xs:attribute name="NumberOfAdults" type="xs:int" use="optional">
            <xs:annotation>
               <xs:documentation>Defaults to 1 if not specified</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="RateRuleDetail" type="typeRateRuleDetail" default="None">
            <xs:annotation>
               <xs:documentation>'None' returns hotel property descriptive information-supported for 1p/1j,1g/1v. 'Complete' returns the complete hotel and room rate information-supported for 1p/1j,1g/1v, 'RatePlansOnly' returns hotel rate information only - supported for 1p/1j, 1g/1v.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="NumberOfRooms" type="xs:int" use="optional" default="1">
            <xs:annotation>
               <xs:documentation>The numbers of rooms,defaults to 1 if not specified</xs:documentation>
            </xs:annotation>
         </xs:attribute>
          <xs:attribute name="RateSupplier" type="common:typeThirdPartySupplier" use="optional">
            <xs:annotation>
               <xs:documentation>Indicates the supplier of the rate.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="Key" type="common:typeRef" use="optional"/>
         <xs:attribute name="PreferredCurrency" type="common:typeCurrency" use="optional">
            <xs:annotation>
               <xs:documentation>Alternate currency</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="TotalOccupants" use="optional" type="xs:int">
            <xs:annotation>
      			<xs:documentation>Number of guests for the room.  Supported Providers: 1P/1J</xs:documentation>
   		    </xs:annotation>
   		 </xs:attribute>
      </xs:complexType>
    </xs:element>
    <xs:element name="HotelSearchModifiers">
      <xs:annotation>
         <xs:documentation>Controls and switches for the Hotel Search request</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="PermittedChains" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element ref="HotelChain" maxOccurs="unbounded"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="ProhibitedChains" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element ref="HotelChain" maxOccurs="unbounded"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element ref="common:PermittedProviders" minOccurs="0"/>
            <xs:element ref="PermittedSuppliers" minOccurs="0" />
            <xs:element ref="common:LoyaltyCard" minOccurs="0" maxOccurs="4"/>
            <xs:element name="HotelName" type="xs:string" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>There can be at most one Hotel Name to be requested</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element ref="common:CorporateDiscountID" minOccurs="0" maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>Search with corporate discount IDs or negotiated rate codes. 1G/1V allows a max of 4.  1P/1J allows a max of 1 corporate discount ID and up to 30 negotiated rate codes.  Support for this function is hotel supplier dependent.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="RateCategory" type="typeHotelRateCategory" minOccurs="0" maxOccurs="8">
               <xs:annotation>
                  <xs:documentation>Search for specific rate categories</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element ref="HotelRating" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="SearchPriority" minOccurs="0"/>
            <xs:element ref="HotelBedding" minOccurs="0" maxOccurs="4"/>
            <xs:element ref="Amenities" minOccurs="0"/> 
            <xs:element name="HotelPaymentType" type="typeHotelPaymentType" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>Specify PrePay or PostPay. Prepay rates require full payment at time of booking</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element ref="NumberOfChildren" minOccurs="0"/>
            <xs:element name="HotelTransportation" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>Search for specific transportation. Supported providers: 1G/1V.  Only CourtesyBus supported by 1P/1J</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:attribute name="Type" type="typeTransportationType" use="required">
                     <xs:annotation>
                        <xs:documentation>Transportation type code</xs:documentation>
                     </xs:annotation>
                  </xs:attribute>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
         <xs:attribute name="NumberOfAdults" type="xs:int" use="optional">
            <xs:annotation>
               <xs:documentation>Defaults to 1 if not specified</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="NumberOfRooms" type="xs:int" use="optional">
            <xs:annotation>
               <xs:documentation>Optional search criteria No. of rooms.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="MaxProperties" type="xs:int" use="optional">
            <xs:annotation>
               <xs:documentation>The maximum number of hotel properties to return in one message.  Supported by TRM only.  Valid values 1 to 99.  Default is 20.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="IsRelaxed" type="xs:boolean" use="optional">
            <xs:annotation>
               <xs:documentation>Default is true. If false, only the results matching all the criteria returned.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="PreferredCurrency" type="common:typeCurrency" use="optional">
            <xs:annotation>
               <xs:documentation>Alternate currency</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="AvailableHotelsOnly" type="xs:boolean" use="optional">
            <xs:annotation>
               <xs:documentation>Set to true to request only available hotels.  Default is false and all results from the provider are returned.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="MaxWait" type="xs:positiveInteger">
            <xs:annotation>
               <xs:documentation>Maximum wait time in milliseconds for hotel search results.  Supported provider: TRM</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="AggregateResults" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
               <xs:documentation>Indicator to identify TRM and GDS property match required or not.</xs:documentation>
            </xs:annotation>
         </xs:attribute>         
      </xs:complexType>
   </xs:element>
   
    <xs:simpleType name="typeHotelPaymentType">
      <xs:annotation>
         <xs:documentation>PrePay, PostPay</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="PrePay"/>
         <xs:enumeration value="PostPay"/>
      </xs:restriction>   
    </xs:simpleType>
   
    <xs:element name="PermittedSuppliers">
      <xs:annotation>
         <xs:documentation>Hotel search by permitted suppliers.  If not specified, search is for all allowable suppliers</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Supplier" maxOccurs="unbounded">
               <xs:complexType>
                  <xs:attribute name="Name" type="common:typeThirdPartySupplier" use="required"/>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
    
    <xs:element name="SearchPriority">
        <xs:annotation>
            <xs:documentation>Override the search order for hotel availability request</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Criteria" maxOccurs="8">
                    <xs:complexType>
                        <xs:attribute name="Order" use="required">
                            <xs:annotation>
                                <xs:documentation>Criteria order for hotel search</xs:documentation>
                                <xs:documentation>Highest Priority=1  Lowest Priority=7</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:int">
                                    <xs:minInclusive value="1"/>
                                    <xs:maxInclusive value="8"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Type" use="required">
                            <xs:annotation>
                                <xs:documentation>Search type</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="CorporateDiscountID"/>
                                    <xs:enumeration value="PermittedChains"/>
                                    <xs:enumeration value="HotelName"/>
                                    <xs:enumeration value="Distance"/>
                                    <xs:enumeration value="RateCategory"/>
                                    <xs:enumeration value="HotelRating"/>
                                    <xs:enumeration value="Amenities"/>
                                    <xs:enumeration value="HotelTransportation"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="HotelSearchResult">
        <xs:annotation>
            <xs:documentation>A single hotel availabilty result.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
            	<xs:element ref="common:VendorLocation" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="HotelProperty" minOccurs="1" maxOccurs="unbounded">
                	<xs:annotation>
						<xs:documentation>The hotel property. Multiple property can only be supported with TRM and GDS property aggrigation.</xs:documentation>
					</xs:annotation>
				</xs:element>
                <xs:element name="HotelSearchError" minOccurs="0" maxOccurs="unbounded">
	                <xs:complexType>
	                	<xs:complexContent>
	                		<xs:extension base="common:typeResultMessage">
		                		<xs:attribute name="RateSupplier" type="common:typeThirdPartySupplier" use="optional">
		                		   <xs:annotation>                              
	                   					<xs:documentation>Indicates the supplier of the rate.</xs:documentation>
	                				</xs:annotation>
	                			</xs:attribute>
                			</xs:extension>
	                	</xs:complexContent>
	                </xs:complexType>
                </xs:element>
                <xs:element ref="common:CorporateDiscountID" minOccurs="0" maxOccurs="unbounded"/> 
                <xs:element ref="RateInfo" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="common:MediaItem" minOccurs="0"/>
 				<xs:element ref="HotelType" minOccurs="0">
               		<xs:annotation>
                  		<xs:documentation>Supported Providers:1P/1J</xs:documentation>
               		</xs:annotation>
            	</xs:element>                                            
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
   <xs:element name="RateInfo">
        <xs:complexType>
            <xs:attribute name="MinimumAmount" type="common:typeMoney" use="optional">
                <xs:annotation>
                    <xs:documentation>The low end of the nightly price range</xs:documentation>
                </xs:annotation>
            </xs:attribute>
	        <xs:attribute name="ApproximateMinimumAmount" type="common:typeMoney" use="optional">
		      <xs:annotation>
			     <xs:documentation>The low end of the nightly price range in another currency</xs:documentation>
		      </xs:annotation>
	        </xs:attribute>
            <xs:attribute name="MinAmountRateChanged" type="xs:boolean" use="optional">
                <xs:annotation>
                    <xs:documentation>Indicates the low end price range changes over the requested stay</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="MaximumAmount" type="common:typeMoney" use="optional">
                <xs:annotation>
                    <xs:documentation>The high end of the nightly price range</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ApproximateMaximumAmount" type="common:typeMoney" use="optional">
                <xs:annotation>
                   <xs:documentation>The high end of the nightly price range in another currency</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="MaxAmountRateChanged" type="xs:boolean" use="optional">
                <xs:annotation>
                    <xs:documentation>Indicates the high end price range changes over the requested stay</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="MinimumStayAmount" type="common:typeMoney" use="optional">
                <xs:annotation>
                    <xs:documentation>The low end of the price range for the entire stay</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ApproximateMinimumStayAmount" type="common:typeMoney" use="optional">
                <xs:annotation>
                  <xs:documentation>The low end of the price range for the entire stay in another currency</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ApproximateAverageMinimumAmount" type="common:typeMoney" use="optional">
             <xs:annotation>
                  <xs:documentation>The average nightly price of the minimum stay amount in another currency</xs:documentation>
             </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Commission" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Commission information for this rate supplier</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="RateSupplier" type="common:typeThirdPartySupplier" use="optional">
                <xs:annotation>
                    <xs:documentation>Indicates the supplier of the rate.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="RateSupplierLogo" type="xs:anyURI" use="optional">
                <xs:annotation>
                    <xs:documentation>Url of the supplier's logo</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="PaymentType" type="typeHotelPaymentType" use="optional">
            	<xs:annotation>
            		<xs:documentation>PrePay or PostPay rate.  Applicable only for TRM suppliers.</xs:documentation>
            	</xs:annotation>
            </xs:attribute>
             <xs:attributeGroup ref="attrPolicyMarkingMaxMinPolicyCodes">
            <xs:annotation>
               <xs:documentation>Attributes related to maximum and minimum policy codes and 'in policy' indicators.</xs:documentation>
            </xs:annotation>
         </xs:attributeGroup>
        </xs:complexType>
    </xs:element>
    
 <xs:attributeGroup name="attrPolicyMarkingMaxMinPolicyCodes">
      <xs:attribute name="MinInPolicy" type="xs:boolean" use="optional">
         <xs:annotation>
            <xs:documentation>This attribute will be used to indicate if the minimum fare or rate has been determined to be ‘in policy’ based on the associated policy settings.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="MinPolicyCode" use="optional" type="common:typePolicyCode">
         <xs:annotation>
            <xs:documentation>This attribute is used to provide a code that can be used to determine why the minumum fare or rate was determined to be ‘out of policy’.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="MaxInPolicy" type="xs:boolean" use="optional">
         <xs:annotation>
            <xs:documentation>This attribute will be used to indicate if the maximum fare or rate has been determined to be ‘in policy’ based on the associated policy settings.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="MaxPolicyCode" use="optional" type="common:typePolicyCode">
         <xs:annotation>
            <xs:documentation>This attribute is used to provide a code that can be used to determine why the maximum fare or rate was determined to be ‘out of policy’.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:attributeGroup>

    <xs:element name="HotelPropertyWithMediaItems">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="HotelProperty"/>
                <xs:element ref="common:MediaItem" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>Photos and other media urls for the item referenced above.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="MediaResultMessage" type="common:typeResultMessage" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>Errors, Warnings and informational messages for the property referenced above.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:group name="BaseHotelReservationGroup">
		<xs:sequence>
			<xs:element ref="common:ReservationName" minOccurs="0"/>
            <xs:element ref="common:ThirdPartyInformation" minOccurs="0"/>
            <xs:element ref="HotelProperty"/>
            <xs:element ref="HotelRateDetail"/>
            <xs:element ref="HotelStay"/>
            <xs:element ref="HotelSpecialRequest" minOccurs="0"/>
            <xs:element ref="common:Guarantee" minOccurs="0"/>                  
            <xs:element ref="PromotionCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Specifies promotional code used in hotel booking</xs:documentation>
                </xs:annotation>
            </xs:element>
                         <!-- NEW Booking Source -->
            <xs:element ref="common:BookingSource" minOccurs="0">
                <xs:annotation>
                   <xs:documentation>Specify alternate booking source</xs:documentation>
                </xs:annotation>
            </xs:element>                          
            <xs:element ref="HotelBedding" minOccurs="0" maxOccurs="4"/>
            <xs:element ref="GuestInformation" minOccurs="0"/>
            <xs:element ref="AssociatedRemark" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="common:SellMessage" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="HotelCommission" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>HotelCommission text indicates commision while hotel reservation. Provider supported 1P and 1J.</xs:documentation>
                </xs:annotation>
         </xs:element>
		</xs:sequence>
	</xs:group>
    
    <xs:simpleType name="typeAllImageSize">
        <xs:annotation>
            <xs:documentation>All image sizes</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="A"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="typeRequestedImageSize">
        <xs:union memberTypes="common:typeImageSize typeAllImageSize"/>
    </xs:simpleType>

    <xs:annotation>
        <xs:documentation>*** Hotel specific types ***</xs:documentation>
    </xs:annotation>

    <xs:simpleType name="typeHotelLocation">
        <xs:restriction base="xs:string">
            <xs:enumeration value="City"/>
            <xs:enumeration value="Airport"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="typeHotelRateCategory">
        <xs:annotation>
            <xs:documentation>Hotel specific rate categories (e.g. Standard, Military)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="typeTransportationType">
        <xs:annotation>
            <xs:documentation>Transportation Type</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="typeRateRuleDetail">
        <xs:annotation>
            <xs:documentation>'None' returns hotel property descriptive information-supported for 1p/1j,1g/1v. 'Complete' returns the complete hotel and room rate information-supported for 1p/1j,1g/1v, 'RatePlansOnly' returns hotel rate information only - supported for 1p/1j.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="None"/>
            <xs:enumeration value="Complete"/>
            <xs:enumeration value="RatePlansOnly"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="typeHotelAvailability">
        <xs:annotation>
            <xs:documentation>Availability status of hotel</xs:documentation>
            <xs:documentation> Hotel is Available</xs:documentation>
            <xs:documentation> NotAvailable</xs:documentation>
            <xs:documentation> Available, but not for the rates requested</xs:documentation>
            <xs:documentation> On request</xs:documentation>
            <xs:documentation> Unknown</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Available"/>
            <xs:enumeration value="NotAvailable"/>
            <xs:enumeration value="AvailableForOtherRates"/>
            <xs:enumeration value="OnRequest"/>
            <xs:enumeration value="Unknown"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="typeDate">
        <xs:annotation>
            <xs:documentation>Date without time zones YYYY-MM-DD</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date">
            <xs:pattern value="[^:Z].*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="typeUnstructuredAddress">
        <xs:annotation>
            <xs:documentation>A simple unstructured address (e.g. 123 South State Avenue, Chicago, IL 60612)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Address" maxOccurs="6">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="typeHotelRateDescription">
        <xs:sequence>
            <xs:element name="Text" maxOccurs="unbounded">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Name" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>Optional context name of the text block being returned i.e. Room details</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>   
    
    <xs:complexType name="typeHotelReferencePoint">
      <xs:simpleContent>
         <xs:extension base="common:typeReferencePoint">
            <xs:attribute name="Country" type="common:typeCountry">
               <xs:annotation>
                  <xs:documentation>Country code.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute name="State" type="common:typeState">
               <xs:annotation>
                  <xs:documentation>State or Province Code. </xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
    
    <xs:element name="HotelRating">
        <xs:annotation>
            <xs:documentation>Hotel rating information</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice>
                <xs:element name="Rating" type="typeSimpleHotelRating" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>Hotel rating value </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="RatingRange">
                    <xs:annotation>
                        <xs:documentation>Search for a range of ratings</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:attribute name="RatingProvider" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>Rating providers, ie AAA, NTM</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>    
    <xs:simpleType name="typeSimpleHotelRating">
        <xs:annotation>
            <xs:documentation>Numeric hotel rating </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer"/>
    </xs:simpleType>
    <xs:simpleType name="typeAmenityLevel">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Property"/>
            <xs:enumeration value="Room"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="RatingRange">
         <xs:complexType>
             <xs:annotation>
                 <xs:documentation>Search for a range of rating</xs:documentation>
             </xs:annotation>
             <xs:attribute name="MinimumRating" type="typeSimpleHotelRating" use="optional"/>
             <xs:attribute name="MaximumRating" type="typeSimpleHotelRating" use="optional"/>
         </xs:complexType>
    </xs:element> 
    <xs:element name="HotelRuleItem">
       <xs:annotation>
           <xs:documentation>Textual information about the hotel rule
           </xs:documentation>
       </xs:annotation>
       <xs:complexType>
           <xs:sequence>
               <xs:element name="Text" type="xs:string" maxOccurs="unbounded" />
           </xs:sequence>
           <xs:attribute name="Name" type="xs:string" use="required" />
       </xs:complexType>
    </xs:element>
    <xs:simpleType name="typeAmenityCode">
        <xs:restriction base="xs:nonNegativeInteger">
            <xs:totalDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="HotelAmenity">
        <xs:complexType>
            <xs:attribute name="Level" type="typeAmenityLevel" use="required">
                <xs:annotation>
                    <xs:documentation>Property or Room amenity</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="AmenityCode" type="typeAmenityCode" use="required">
                <xs:annotation>
                    <xs:documentation>OTA amenity code</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="HotelRulesModifiers">
        <xs:annotation>
            <xs:documentation>Controls and switches for the Hotel Rules
                request</xs:documentation>
        </xs:annotation>
        <xs:complexType>
         <xs:sequence>
            <xs:element ref="common:PermittedProviders" minOccurs="0"/>
            <xs:element ref="NumberOfChildren" minOccurs="0"/>
            <xs:element ref="HotelBedding" minOccurs="0" maxOccurs="4"/>
            <xs:element ref="common:CorporateDiscountID" minOccurs="0" maxOccurs="2"/>
         </xs:sequence>
         <xs:attribute name="NumberOfAdults" type="xs:int" use="optional">
            <xs:annotation>
               <xs:documentation>Defaults to 1 if not specified
                    </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="NumberOfRooms" type="xs:int" use="optional" default="1">
            <xs:annotation>
               <xs:documentation>The numbers of rooms,defaults to 1 if not specified</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="TotalOccupants" use="optional" type="xs:int">
            <xs:annotation>
      			<xs:documentation>Number of guests for the room.  Supported Providers: 1P/1J</xs:documentation>
   		    </xs:annotation>
   		 </xs:attribute>
         <xs:attribute name="Key" type="common:typeRef" use="optional"/>
      </xs:complexType>
    </xs:element>
    <xs:element name="NumberOfChildren">
        <xs:annotation>
             <xs:documentation>Number of Children</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Age" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="Count" type="xs:int" use="required"/>
            <xs:attribute name="Amount" type="common:typeMoney" use="optional">
            	<xs:annotation>
                	<xs:documentation>Fee per child. Providers: 1g/1v</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="typeBedding">
        <xs:annotation>
            <xs:documentation>Bedding types</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>   
    <xs:element name="HotelBedding">
        <xs:annotation>
            <xs:documentation>Specify desired bedding</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="Type" type="typeBedding" use="required">
                <xs:annotation>
                    <xs:documentation>Queen, King, double, etc</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="NumberOfBeds" type="xs:int" use="optional">
                <xs:annotation>
                    <xs:documentation>Number of beds of desired Type in room. Use '0' to delete the hotel Optional Beds ( Only RA RC CR )</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Amount" type="common:typeMoney" use="optional">
                <xs:annotation>
               <xs:documentation>Fee for bed type.  Providers:  1g/1v/1p/1j</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Content" type="xs:string" use="optional">
                <xs:annotation>
               <xs:documentation>Additional information Providers: 1p/1j</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="PromotionCode">
        <xs:complexType>
        <xs:simpleContent>
            <xs:extension base="typePromoCodeString">
                <xs:attribute name="Key" type="common:typeRef" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="typePromoCodeString">
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="RequestedHotelDetails">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>Returns Hotel rate details for requested hotel property.</xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element ref="HotelProperty"/>
                <xs:element ref="HotelDetailItem" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="HotelRateDetail" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>Returns hotel rate details during the stay if rates are available for requested property</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="common:MediaItem" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="GuestReviews" minOccurs="0"/>
                <xs:element ref="HotelType" minOccurs="0">
                  <xs:annotation>
                        <xs:documentation>Supported Providers:1G/1V/1P/1J.</xs:documentation>
                  </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="HotelAlternateProperties">
        <xs:annotation>
            <xs:documentation>Alternate Properties returned by some Vendors if the requested property is not available</xs:documentation>
        </xs:annotation>
        <xs:complexType>
        <xs:sequence>
            <xs:element ref="HotelProperty" maxOccurs="unbounded"/>
        </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RateMatchIndicator">
        <xs:annotation>
            <xs:documentation>"Match" Indicators for certain request parameters, e.g. Child Count, Bed Type, Extra Adults etc.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="Type" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="RateCategory" />
                        <xs:enumeration value="RoomCount" />
                        <xs:enumeration value="BedType" />
                        <xs:enumeration value="AdultCount" />
                        <xs:enumeration value="ChildCount" />
                        <xs:enumeration value="AdultRollaway" />
                        <xs:enumeration value="ChildRollaway" />
                        <xs:enumeration value="Crib" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Status" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Available">
                            <xs:annotation>
                                <xs:documentation>Number of items requested for the IndicatorType is available</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="NotAvailable">
                            <xs:annotation>
                                <xs:documentation>Number of items requested for the IndicatorType is not available. The actual number available is provided against Value</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="SubstituteOffered">
                            <xs:annotation>
                                <xs:documentation>A substitute has been offered for the originally requested number and/or type. The substituted available is provided in against Value</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="MaximumExceeded">
                            <xs:annotation>
                                <xs:documentation>Number of items requested for the IndicatorType exceeds the maximum applicable value. The substituted available is provided in against Value</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Value" type="xs:string" use="optional" />
        </xs:complexType>
    </xs:element>
    <xs:element name="AssociatedRemark">
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="common:typeAssociatedRemark"/>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>

    <xs:element name="Amenities">
        <xs:annotation>
            <xs:documentation>Amenity information</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Amenity" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="Code" type="typeAmenity" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="typeAmenity">
        <xs:annotation>
            <xs:documentation>Type defination of Amenity</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="4" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:element name="HotelRateInfo">
      <xs:annotation>
         <xs:documentation>This is a wrapper element for updating Rate Modifiers</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:attribute name="RatePlanType" type="common:typeRatePlanType" use="optional"/>
      </xs:complexType>
   </xs:element>
   
   <xs:element name="GuestReviews">
      <xs:annotation>
         <xs:documentation>Comments and Reviews from hotel guests</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Comments" type="xs:string" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   
   <xs:element name="HotelType">
      <xs:complexType>
         <xs:attribute name="SourceLink" type="typeSourceLink" use="optional">
            <xs:annotation>
				<xs:documentation>Indicates whether results are  returned from the vendor or  from the database.  If true, vendor results were returned. Supported providers:1G, 1V </xs:documentation>               
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:simpleType name="typeSourceLink">
      <xs:restriction base="xs:boolean"/>
   </xs:simpleType>
   
   <xs:simpleType name="typeRateOfferId">
        <xs:annotation>
            <xs:documentation>Indicates the supplier of the rate. Maybe required for hotels provided by aggregators.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
   </xs:simpleType>   
    <xs:element name="HotelSuperShopperResults">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>Returns Hotel shuper shopper rate details for requested hotel property.</xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element ref="HotelProperty"/>
                <xs:element ref="HotelDetailItem" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="HotelRateDetail" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>Returns hotel rate details during the stay if rates are available for requested property</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="HotelResultsError" type="common:typeResultMessage" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
	<xs:element name="MealPlans">
		<xs:annotation>
			<xs:documentation>Meal information provided by specific hotels returned in response.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MealPlan" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="MealPlan">
		<xs:complexType>
			<xs:attribute name="Code" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Meal Plan expressed in OTA codes for 1G/1V only</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
    
    
    <xs:element name="CancelInfo">
      <xs:annotation>
         <xs:documentation>Returns cancellation information for certain hotel returned in response. This information is available through GDS transactions</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:attribute name="NonRefundableStayIndicator" type="xs:boolean" use="optional">
            <xs:annotation>
               <xs:documentation>True if Deposit or Payment is non-refundable</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="CancelDeadline" type="xs:dateTime" use="optional">
            <xs:annotation>
               <xs:documentation>Last date/time the reservation can be canceled without penalty. </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="TaxInclusive" type="xs:boolean" use="optional">
            <xs:annotation>
               <xs:documentation>Indicates whether or not the Penalty amount includes taxes.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="FeeInclusive" type="xs:boolean" use="optional">
            <xs:annotation>
               <xs:documentation>Indicates whether or not the Penalty amount includes fees.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="CancelPenaltyAmount" type="common:typeMoney" use="optional">
            <xs:annotation>
               <xs:documentation>This will contain the cancellation penalty amount.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="NumberOfNights" type="xs:nonNegativeInteger" use="optional">
            <xs:annotation>
               <xs:documentation>This will contain the number of nights that will be assessed as the cancelation penalty.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="CancelPenaltyPercent" type="xs:float" use="optional">
            <xs:annotation>
               <xs:documentation>This will contain the cancellation penalty expressed as a percentage.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="CancelPenaltyPercentAppliesTo" type="xs:string" use="optional">
            <xs:annotation>
               <xs:documentation>This will contain the cost qualifier that explains what the percentage is applied to in order to calculate the cancel penalty.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   
   <xs:element name="RoomView">
		<xs:complexType>
			<xs:attribute name="Code" type="typeRoomView" use="optional">
				<xs:annotation>
					<xs:documentation>OTA code represents different hotel room views.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="typeRoomView">
		<xs:annotation>
			<xs:documentation>Type definition of Room view code</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2" />
		</xs:restriction>
	</xs:simpleType>
   
   <xs:element name="GuaranteeInfo">
      <xs:complexType>
         <xs:sequence>
            <xs:choice minOccurs="0">
               <xs:element ref="DepositAmount" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>Amount required for deposit/prepayment</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DepositNights" type="xs:integer">
                  <xs:annotation>
                     <xs:documentation>Number of Nights required for deposit/prepayment</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DepositPercent" type="xs:integer">
                  <xs:annotation>
                     <xs:documentation>Percentage of stay required for deposit/prepayment</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:choice>
            <xs:element ref="GuaranteePaymentType" minOccurs="0" maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>Accepted payment types</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:sequence>
         <xs:attribute name="AbsoluteDeadline" type="xs:dateTime" use="optional">
            <xs:annotation>
               <xs:documentation>Latest date/time when deposit/payment/guarantee is required.Not Supported by TRM.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="CredentialsRequired" type="xs:boolean" use="optional">
            <xs:annotation>
               <xs:documentation>Identification required at booking/checkin. Not supported by 1P,1J and TRM.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="HoldTime" type="xs:string" use="optional">
            <xs:annotation>
            <xs:documentation>Expiration time for room reservation held without deposit/guarantee.  Not supported by TRM.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="GuaranteeType" use="optional">
            <xs:annotation>
               <xs:documentation>Deposit, Guarantee, or Prepayment required to hold/book the room. Applicable only for HotelSupershopper, Hotel Details and Hotel rules.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="Deposit"/>
                  <xs:enumeration value="Guarantee"/>
                  <xs:enumeration value="Prepayment"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   
   <xs:element name="DepositAmount">
      <xs:annotation>
         <xs:documentation>Amount required for deposit/prepayment. Applicable only for HotelSupershopper, Hotel Details and Hotel rules.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:simpleContent>
            <xs:extension base="common:typeMoney">
               <xs:attribute name="ApproximateDepositAmount" type="common:typeMoney" use="optional">
                  <xs:annotation>
                     <xs:documentation>Approximate deposit amount required for deposit/prepayment.Supports TRM provider only.</xs:documentation>
                  </xs:annotation>
               </xs:attribute>
            </xs:extension>
         </xs:simpleContent>
      </xs:complexType>
   </xs:element>
   
   <xs:element name="GuaranteePaymentType">
      <xs:annotation>
         <xs:documentation>Accepted payment types. Applicable only for HotelSupershopper, Hotel Details and Hotel rules.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:simpleContent>
            <xs:extension base="xs:string">
               <xs:attribute name="Type" type="xs:string" use="required">
                  <xs:annotation>
                     <xs:documentation>Accepted payment types: CreditCard, AgencyIATA/ARC, FrequentGuest, SpecialIndustry, CDNumber, HomeAddress, CompanyAddress, Override, Other, or None</xs:documentation>
                  </xs:annotation>
               </xs:attribute>
               <xs:attribute name="Description" type="xs:string" use="optional"/>
            </xs:extension>
         </xs:simpleContent>
      </xs:complexType>
   </xs:element> 
   
   <xs:element name="HotelCommission" type="xs:string">
      <xs:annotation>
         <xs:documentation>Indicates the commission during Hotel reservation. Provider supoorted 1P and 1J.</xs:documentation>
      </xs:annotation>
   </xs:element>   
   <xs:element name="QuickResponse">
      <xs:complexType>
         <xs:attribute name="FastResult" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>Set to true on initial request to have results returned immediately and may contain fewer hotels. Default is false. </xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="MoreToken" type="xs:string">
            <xs:annotation>
               <xs:documentation>Token is returned for use in subsequent request to retrieve complete results.</xs:documentation>
            </xs:annotation>
         </xs:attribute>
      </xs:complexType>
   </xs:element>

   <xs:simpleType name="typeHotelLocationCode">
      <xs:annotation>
         <xs:documentation>hotel location specified as IATA code or TRM custom codes</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="6"/>
         <xs:minLength value="3"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="typeHotelConfirmationNumber">
      <xs:annotation>
         <xs:documentation>Hotel Confirmation Number from a Third Party System.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="32"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:element name="BookingConfirmation">
      <xs:annotation>
         <xs:documentation>Hotel Booking Confirmation Number for hotel segment. Supported Providers:1P/1J.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
         <xs:restriction base="typeHotelConfirmationNumber"/>
      </xs:simpleType>
   </xs:element>
</xs:schema>
