travelpor-uapi-tutorial/wsdl/provisioning_v18_0/Provisioning.xsd

<!-- edited with XMLSpy v2008 rel. 2 sp1 (http://www.altova.com) by XMLSpy 2008 Enterprise Ed. Release 2, Concurrent for 20 users (with SMP from 2009-01-22 to 2009-12-11) (WORLDSPAN) -->
<xs:schema xmlns="http://www.travelport.com/schema/provisioning_v18_0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="http://www.travelport.com/schema/common_v26_0" targetNamespace="http://www.travelport.com/schema/provisioning_v18_0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>(c) Travelport GDS 2009-2010 All rights reserved. Proprietary Information of Travelport GDS.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.travelport.com/schema/common_v26_0" schemaLocation="../common_v26_0/CommonReqRsp.xsd"/>
	
	<!--*** Shared elements ***-->
	<xs:element name="AccessInfo">
		<xs:annotation>
			<xs:documentation>Container for the host credentials information</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="AccessInfoID" type="typeAutoID" use="optional">
				<xs:annotation>
					<xs:documentation>System Generated ID for access info item. Only used for modication or delete.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attributeGroup ref="attrAccessInfo"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ActivateProvider" type="typeModifyProvider"/>
	<xs:element name="AddAccessInfo">
		<xs:complexType>
			<xs:attributeGroup ref="attrAccessInfo"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="AddPrinterLinkage">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="typeModifyPrinterLinkage">
					<xs:attributeGroup ref="attrPrinterLinkage"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AddProvider">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AccessInfo" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="common:TransactionType" minOccurs="0"/>
				<xs:element ref="PrinterLinkage" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attributeGroup ref="attrProviderInfo"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeactivateProvider" type="typeModifyProvider"/>
	<xs:element name="DeletePrinterLinkage">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="typeModifyPrinterLinkage">
					<xs:attributeGroup ref="attrPrinterLinkage"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeleteProvider" type="typeModifyProvider"/>
	<xs:element name="DeleteAccessInfo" type="typeModifyAccessInfo"/>
	<xs:element name="ModifyAccessInfo">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="typeModifyAccessInfo">
					<xs:attributeGroup ref="attrAccessInfo"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ModifyProvider">
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="typeModifyProvider">
               <xs:choice>
                  <xs:element ref="AddAccessInfo"/>
                  <xs:element ref="DeleteAccessInfo"/>
                  <xs:element ref="ModifyAccessInfo"/>
                  <xs:element ref="ModifyTransactionTypes"/>
                  <xs:element ref="AddPrinterLinkage"/>
                  <xs:element ref="DeletePrinterLinkage"/>
                  <xs:element ref="ModifyIATA">
                     <xs:annotation>
                        <xs:documentation>Can be used to modify or delete IATA code</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:choice>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="ModifyIATA">
      <xs:complexType>
         <xs:attribute name="IATACode" type="common:typeIATA"/>
      </xs:complexType>
   </xs:element>
	<xs:element name="ModifySubscriberInfo">
	   <xs:complexType>
	      <xs:sequence>
	         <xs:element name="RegionRep" minOccurs="0" maxOccurs="unbounded">
	            <xs:annotation>
	               <xs:documentation>Used to indicate that the agent represents a regional managing entity. Results in priviliges for Click Once and emulation.</xs:documentation>
	            </xs:annotation>
	            <xs:complexType>
	               <xs:attribute name="ManagingEntity" type="xs:int" use="required">
	                  <xs:annotation>
	                     <xs:documentation>Indicate Regional Managing Entity (e.g. Galileo UK) for this Profile entity. Will be denoted by unique numerical values.</xs:documentation>
	                  </xs:annotation>
	               </xs:attribute>
	            </xs:complexType>
	         </xs:element>
	      </xs:sequence>
	      <xs:attributeGroup ref="attrSubscriberInfo"/>
	   </xs:complexType>
	</xs:element>
	<xs:element name="ModifyContractInfo">
	   <xs:complexType>
	      <xs:sequence>
	         <xs:element ref="Feature" minOccurs="0" maxOccurs="unbounded"/>
	      	<xs:element ref="BillingInfo" minOccurs="0" maxOccurs="unbounded">
	      		<xs:annotation>
	      			<xs:documentation>Strings that can be passed to Billing system to identify the source of the transaction. Will only be set for the Work Area Branches or the Agent. Not Inheritable.</xs:documentation>
	      		</xs:annotation>
	      	</xs:element>
	      </xs:sequence>
	      <xs:attribute name="ManagingEntity" type="xs:int"/>
	      <xs:attribute name="LicenseCode" type="common:typeLicenseCode">
	         <xs:annotation>
	            <xs:documentation>License assigned - at agent level.</xs:documentation>
	         </xs:annotation>
	      </xs:attribute>
	   </xs:complexType>
	</xs:element>
	<xs:element name="ModifyTransactionTypes">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="Air" minOccurs="0">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="common:typeTransactionsAllowed">
							<xs:attributeGroup ref="common:attrFlexShopping" />
							<xs:attribute name="OneWayShop" type="xs:boolean">
                           <xs:annotation>
                              <xs:documentation>Allows or prohibits one way shopping functionality for the associated provisioning provider configuration</xs:documentation>
                           </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="FuzzySearch" type="xs:boolean">
                           <xs:annotation>
                              <xs:documentation>Allows or prohibits fuzzy search functionality for the associated provisioning provider configuration</xs:documentation>
                           </xs:annotation>
                        </xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Hotel" type="common:typeTransactionsAllowed"
				minOccurs="0" />
			<xs:element name="Rail" type="common:typeTransactionsAllowed"
				minOccurs="0" />
			<xs:element name="Vehicle" type="common:typeTransactionsAllowed"
				minOccurs="0" />
			<xs:element name="Passive" type="common:typeBookingTransactionsAllowed"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>For true passive segments such as ground, cruise etc</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BackgroundPassive" type="common:typeBookingTransactionsAllowed"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>For behind the scenes or background passives Only</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>	
	</xs:element>
	<xs:element name="Owner" type="common:typeProfileRef"/>
	<xs:element name="ProviderInfo">
		<xs:annotation>
			<xs:documentation>Contains host provider/supplier information. If more than one provider/supplier is defined, then aggregated air booking will determine primary and secondary host based on the order of the providers/suppliers defined in the entity profile.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AccessInfo" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="common:TransactionType" minOccurs="0"/>
				<xs:element ref="PrinterLinkage" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="ProviderInfoID" type="typeAutoID" use="optional"/>
			<xs:attributeGroup ref="attrProviderInfo"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProvisioningInfo">
	   <xs:annotation>
	      <xs:documentation>Provisioning information</xs:documentation>
	   </xs:annotation>
	   <xs:complexType>
	      <xs:sequence>
	         <xs:element ref="ProviderInfo" minOccurs="0" maxOccurs="unbounded"/>
	         <xs:element ref="SubscriberInfo" minOccurs="0">
	            <xs:annotation>
	               <xs:documentation>Describes attributes of the Subscriber at any level in agency hierarch.</xs:documentation>
	            </xs:annotation>
	         </xs:element>
	         <xs:element ref="ContractInfo" minOccurs="0"/>
	      </xs:sequence>
	      <xs:attribute name="Version" type="xs:int" use="required"/>
	      <xs:attribute name="ID" type="xs:int" use="required">
	         <xs:annotation>
	            <xs:documentation>System Generated ID of the Provisioning data set. Required for modiication.</xs:documentation>
	         </xs:annotation>
	      </xs:attribute>
	   </xs:complexType>
	</xs:element>
	<xs:element name="SubscriberInfo">
	   <xs:complexType>
	      <xs:sequence>
	         <xs:element name="RegionRep" minOccurs="0" maxOccurs="unbounded">
	            <xs:annotation>
	               <xs:documentation>Used to indicate that the agent represents a regional managing entity. Results in priviliges for Click Once and emulation.</xs:documentation>
	            </xs:annotation>
	            <xs:complexType>
	               <xs:attribute name="ManagingEntity" type="xs:int" use="required">
	                  <xs:annotation>
	                     <xs:documentation>Indicate Regional Managing Entity (e.g. Galileo UK) for this Profile entity. Will be denoted by unique numerical values.</xs:documentation>
	                  </xs:annotation>
	               </xs:attribute>
	            </xs:complexType>
	         </xs:element>
	      </xs:sequence>
	      <xs:attributeGroup ref="attrSubscriberInfo"/>
	   </xs:complexType>
	</xs:element>
	<xs:complexType name="typeModifyAccessInfo">
		<xs:attribute name="ID" type="typeAutoID" use="required"/>
	</xs:complexType>
	<xs:complexType name="typeModifyPrinterLinkage"/>
	<xs:complexType name="typeModifyProvider">
		<xs:attribute name="ProviderID" type="typeAutoID" use="required"/>
	</xs:complexType>
	<xs:element name="PrinterLinkage">
		<xs:complexType>
			<xs:attributeGroup ref="attrPrinterLinkage"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="UnEncryptedCredentialInfo">
		<xs:annotation>
			<xs:documentation>Nothing is encrypted here, used in request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PublicKey"/>
				<xs:element name="AccessCode" type="common:StringLength1to116" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Access Code to be encrypted.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="UserId" type="common:StringLength1to116" minOccurs="0">
					<xs:annotation>
						<xs:documentation>User Id to be encrypted.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Password" type="common:StringLength1to116" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Password to be encrypted.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="UniqueCredential" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Data" type="common:StringLength1to116">
								<xs:annotation>
									<xs:documentation>data value of unique credential to be encrypted - free text of length upto 116.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Name" type="common:StringLength1to50" use="required">
							<xs:annotation>
								<xs:documentation>Name of the unique credential</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EncryptedCredentialInfo">
		<xs:annotation>
			<xs:documentation>Access Code, User Id, Password and Unique credential Data value will be encrypted. Element to be used in response</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PublicKey"/>
				<xs:element name="AccessCode" type="common:StringLength1to500" minOccurs="0">
					<xs:annotation>
						<xs:documentation>encrypted and in Base64Encoded format. </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="UserId" type="common:StringLength1to500" minOccurs="0">
					<xs:annotation>
						<xs:documentation>encrypted and in Base64Encoded format.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Password" type="common:StringLength1to500" minOccurs="0">
					<xs:annotation>
						<xs:documentation>encrypted and in Base64Encoded format.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="UniqueCredential" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Data" type="common:StringLength1to500">
								<xs:annotation>
									<xs:documentation>data value of unique credential - encrypted and Base64Encoded</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Name" type="common:StringLength1to50" use="required">
							<xs:annotation>
								<xs:documentation>Name of the unique credential</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PublicKey" type="common:StringLength1to500">
		<xs:annotation>
			<xs:documentation>RSA public key in Base64Encoded format</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:element name="ThirdPartyCredential">
	  <xs:annotation>
	   <xs:documentation>Third party credential details.</xs:documentation>
	  </xs:annotation>
	  <xs:complexType>
	   <xs:sequence>
	    <xs:element ref="EncryptedCredentialInfo"/>
	   </xs:sequence>
	   <xs:attribute name="ProfileId" type="common:typeProfileID" use="required">
	    <xs:annotation>
	     <xs:documentation>profile id under which the third party credential has been created.</xs:documentation>
	    </xs:annotation>
	   </xs:attribute>
	   <xs:attribute name="ProfileType" type="common:typeProfileLevelWithCredential" use="required">
	    <xs:annotation>
	     <xs:documentation>Profile type of associated proifle id</xs:documentation>
	    </xs:annotation>
	   </xs:attribute>
	   <xs:attribute name="CredentialId" type="typeAutoID" use="required">
	    <xs:annotation>
	     <xs:documentation>Unique id for a third party credential record, autogenerated from db sequence.</xs:documentation>
	    </xs:annotation>
	   </xs:attribute>
	   <xs:attribute name="Version" type="common:typeVersion" use="required">
	    <xs:annotation>
	     <xs:documentation>Version of credential.</xs:documentation>
	    </xs:annotation>
	   </xs:attribute>
	   <xs:attributeGroup ref="attrCommonCredentialInfo"/>
	  </xs:complexType>
	</xs:element>	
	
	
	<xs:simpleType name="typeDeviceType">
		<xs:annotation>
			<xs:documentation>This contains the various Device Types</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Ticketing"/>
			<xs:enumeration value="BackOffice"/>
			<xs:enumeration value="IT"/>
			<xs:enumeration value="Auditor"/>
			<xs:enumeration value="Agent"/>
			<xs:enumeration value="PaxReceipt"/>
			<xs:enumeration value="Charge"/>
			<xs:enumeration value="Reissue"/>
			<xs:enumeration value="MCO"/>
		</xs:restriction>
	</xs:simpleType>
	<!--xs:simpleType name="typeAgencyProfileLevel">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AgencyGroup"/>
			<xs:enumeration value="Agency"/>
			<xs:enumeration value="BranchGroup"/>
			<xs:enumeration value="Branch"/>
			<xs:enumeration value="Agent"/>
		</xs:restriction>
	</xs:simpleType-->
	<xs:simpleType name="typeAutoID">
		<xs:annotation>
			<xs:documentation>System Generated ID, used for subsequent reference</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:positiveInteger"/>
	</xs:simpleType>
	<xs:attributeGroup name="attrAccessInfo">
		<xs:attribute name="AccessCode" use="optional">
			<xs:annotation>
				<xs:documentation>The Access Code of the host (e.g. GTID,HAP, DA).</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="512"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="UserId" use="optional">
			<xs:annotation>
				<xs:documentation>The Username/User ID used to connect to the host.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="128"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Password" use="optional">
			<xs:annotation>
				<xs:documentation>The password used to connect to the host.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="512"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="PseudoCityCode" type="common:typePCC" use="optional">
			<xs:annotation>
				<xs:documentation>The PseudoCityCode used to connect to the host.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Type" use="required">
			<xs:annotation>
				<xs:documentation>Whether credentials are for API or Terminal host connection.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="API"/>
					<xs:enumeration value="Terminal"/>
					<xs:enumeration value="CrypticSessioned"/>
					<xs:enumeration value="ApiWithOverride">
                        <xs:annotation>
                            <xs:documentation>Override for API provisioning. Restrict use for consolidator queue provisioning.</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="HostEnvironment" use="optional">
			<xs:annotation>
				<xs:documentation>Identifies the host endpoint environment for terminal credentials.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Production"/>
					<xs:enumeration value="Test"/>
					<xs:enumeration value="Copy"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="LicenseCount" use="optional">
			<xs:annotation>
				<xs:documentation>Used when this resource can be shared and usage needs to be managed. If not used, no counting required.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:maxInclusive value="32767"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Description" use="optional">
			<xs:annotation>
				<xs:documentation>Customer editable label for easier identification.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="25"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="attrPrinterLinkage">
		<xs:attribute name="DeviceType" type="typeDeviceType" use="required">
			<xs:annotation>
				<xs:documentation>Printer type</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DeviceId" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Printer Identification</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DocumentType" type="typeDocumentType">
			<xs:annotation>
				<xs:documentation>Used for split ATB printing</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="attrProviderInfo">
		<xs:attribute name="ProviderCode" type="common:typeProviderCode" use="required">
			<xs:annotation>
				<xs:documentation>The Provider Code of the host</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SupplierCode" type="common:typeSupplierCode" use="optional">
			<xs:annotation>
				<xs:documentation>The Supplier Code of the host</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IATACode" type="common:typeIATA">
			<xs:annotation>
				<xs:documentation>Agency IATA or ARC code, used as an ID with airlines.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Active" use="optional" default="false">
			<xs:annotation>
				<xs:documentation>Indicates wheather access to the given provider/supplier is permitted, based on the Travelport contract.Only a Travelport administrator can change the status</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="true"/>
					<xs:enumeration value="false"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Source" type="common:typeSource" use="required"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="attrSubscriberInfo">
	   <xs:annotation>
	      <xs:documentation>Describes attributes of the entity, that may be passed on to any provider. Inheritable, but usually set at branch level.</xs:documentation>
	   </xs:annotation>
	   <xs:attribute name="GeoCityCode" type="common:typeIATACode">
	      <xs:annotation>
	         <xs:documentation>IATA code of "home" city or airport</xs:documentation>
	      </xs:annotation>
	   </xs:attribute>
	   <xs:attribute name="CurrencyCode" type="common:typeCurrency">
	      <xs:annotation>
	         <xs:documentation>ISO Code of default currency.</xs:documentation>
	      </xs:annotation>
	   </xs:attribute>
	</xs:attributeGroup>
	
	<xs:attributeGroup name="attrCommonCredentialInfo">
		<xs:annotation>
			<xs:documentation>Common attributes for third party credential.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="PrimaryName" type="common:StringLength1to50" use="required"/>
		<xs:attribute name="SecondaryName" type="common:StringLength1to50"/>
		<xs:attribute name="Description" type="common:StringLength1to250"/>
	</xs:attributeGroup>
	
	<xs:element name="ContractInfo">
	   <xs:complexType>
	      <xs:sequence>
	         <xs:element ref="Feature" minOccurs="0" maxOccurs="unbounded"/>
	      	<xs:element ref="BillingInfo" minOccurs="0" maxOccurs="unbounded">
	      		<xs:annotation>
	      			<xs:documentation>Strings that can be passed to Billing system to identify the source of the transaction. Will only be set for the Agent and Work Area Branches. Non-Inheritable.</xs:documentation>
	      		</xs:annotation>
	      	</xs:element>
	      </xs:sequence>
	      <xs:attribute name="ManagingEntity" type="xs:int"/>
	      <xs:attribute name="LicenseCode" type="common:typeLicenseCode">
	         <xs:annotation>
	            <xs:documentation>License assigned - at agent level.</xs:documentation>
	         </xs:annotation>
	      </xs:attribute>
	   </xs:complexType>
	</xs:element>
	<xs:attribute name="ManagingEntity" type="xs:int">
   <xs:annotation>
      <xs:documentation>Indicate Regional Managing Entity (e.g. Galileo UK) for this Profile entity. Will be denoted by unique numerical values.</xs:documentation>
   </xs:annotation>
	</xs:attribute>
	
	<xs:element name="Feature">
	   <xs:annotation>
	      <xs:documentation>e.g. Advertising, used for things that can not be encoded in resources and roles</xs:documentation>
	   </xs:annotation>
	   <xs:complexType>
	      <xs:attribute name="ID" use="required">
	         <xs:simpleType>
	            <xs:restriction base="xs:string">
	               <xs:minLength value="1"/>
	               <xs:maxLength value="3"/>
	            </xs:restriction>
	         </xs:simpleType>
	      </xs:attribute>
	      <xs:attribute name="Value" use="required">
	         <xs:simpleType>
	            <xs:restriction base="xs:string">
	               <xs:maxLength value="25"/>
	            </xs:restriction>
	         </xs:simpleType>
	      </xs:attribute>
	   </xs:complexType>
	</xs:element>
	<xs:element name="ProviderSummary">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TerminalProvider" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="common:APIProvider" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TerminalProvider">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AccessInfo" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="ProviderCode" type="common:typeProviderCode" use="required">
				<xs:annotation>
					<xs:documentation>The Provider Code of the host</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SupplierCode" type="common:typeSupplierCode" use="optional">
				<xs:annotation>
					<xs:documentation>The Supplier Code of the host</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="typeDocumentType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Blank Card" />
			<xs:enumeration value="ATB Ticket Stock" />
			<xs:enumeration value="Plain Paper" />
			<xs:enumeration value="Passenger Itin Invoice" />
			<xs:enumeration value="Paperless" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="BillingInfo">
		<xs:annotation>
			<xs:documentation>Strings that can be passed to  Billing system to identify the source of the transaction. Will only be set for the Work Area Branch or the Agent. Not Inheritable.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Key" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="BillingString" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element> 
	
    <!--               Added For CustomerInfo   Start             -->
    <xs:element name="SupplierTypes">
        <xs:annotation>
             <xs:documentation>Valid values for Supplie type are : ‘P’,’S’ ‘P ’ stands for PREMIUM and ‘S ’stands for STANDARD.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="SupplierType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="SupplierType">
        <xs:complexType>
            <xs:attribute name="Type" use="required">
                <xs:annotation>
                    <xs:documentation>Type can be P as PREMIUM or S as STANDARD...etc. In future can be added more</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="5"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="InternalProducts">
        <xs:annotation>
            <xs:documentation>Internal Travelport Product list which will be any combination of this products: uD, uAPI Stand Alone, Traversa, Southwest App, Smart Point</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Product" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    
    <xs:element name="Product">
        <xs:complexType>
            <xs:attribute name="Code" use="required">
                <xs:annotation>
                    <xs:documentation>Only Active Products can be added and retrieved.Valid values for Product code : UDT, UAPI, TRA, SWAPP, SP,FP, GWS, ETRACKER, AGENCIA,GA,XMLSELECT, GDIA, RPRINTER. Active Product codes are :UDT, UAPI, TRA, SWAPP, SP.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="15"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    
    <xs:element name="CustomerContractInfo">
        <xs:annotation>
            <xs:documentation>If any of Customer parameters fails to add whole transaction should be rolled back. And should return appropriate error message.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="SupplierTypes" minOccurs="0"/>
                <xs:element ref="InternalProducts" minOccurs="0"/>
            </xs:sequence>
            <xs:attributeGroup ref="CustomerContractInfoAttrGroup"/>
        </xs:complexType>
    </xs:element>   
    
    
    <xs:element name="Provisioning">
        <xs:annotation>
            <xs:documentation>Validation required:Either ProvisioningID or WAB id must be present.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="ProvisioningID" type="typeAutoID"  use="required"/>
        </xs:complexType>
	    </xs:element>
	    
	<xs:attributeGroup name="CustomerContractInfoAttrGroup">
		<xs:attribute name="CustomerType">
			<xs:annotation>
				<xs:documentation>
				   Valid values for Customer types are 'B2B', 'B2C'. 'B2B' stands for "Business To Business" and 'B2C' stands for "Business to Consumers".
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="5" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="BusinessType">
			<xs:annotation>
				<xs:documentation>
                      Valid values for Business types are 'CORP','LEIS', and 'ALL'.'CORP' stands for "CORPORATE" and 'LEIS' stands for "LEISURE".
                </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="5" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="POSChannel">
			<xs:annotation>
				<xs:documentation>
                      Valid Channel types are 'ONLINE', 'AGENCY', and 'ALL'.
               	</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="8" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Country" use="required" type="common:typeCountry" />
	</xs:attributeGroup> 
    
    <xs:element name="AddProduct">
        <xs:annotation>
            <xs:documentation>This action will allow to add more products for specified ProvisionID.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Product" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="DeleteProduct">
        <xs:annotation>
            <xs:documentation>Validation will require on this action. User can not delete product if he has currently assigned only one product. In this case error will be thrown 'Add other product before deleting this one. Atleast one product should be assigned to each provision.'</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Product" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="AddSupplierTypes">
    	<xs:annotation>
    		<xs:documentation>This action will allow to add more SupplierType for specified ProvisionID.</xs:documentation>
    	</xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="SupplierType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="DeleteSupplierTypes">
        <xs:annotation>
            <xs:documentation>Validation will require on this action. User can not delete supplier type if WAB/ProvisionID has currently assigned only one supplier type. In this case error will be thrown 'Add other supplier type before deleting this one. Atleast one supplier type should be assigned to each provision/WAB.'</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="SupplierType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="ModifyInternalProduct">
        <xs:annotation>
            <xs:documentation>This action will allow to delete/add products for specified provision id. But while deleting the product, keep in mind that atleast one product is required for each ProvisionID. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice>
                <xs:element ref="AddProduct"/>
                <xs:element ref="DeleteProduct"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    
    
    <xs:element name="ModifySupplierTypes" >
        <xs:annotation>
            <xs:documentation>This action will allow to delete/add  supplier types for specified provision id. But while deleting the supplier type, keep in mind that atleast one type is required for each ProvisionID/WAB. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice>
                <xs:element ref="AddSupplierTypes"/>
                <xs:element ref="DeleteSupplierTypes"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    
    
    <xs:element name="DeleteCustomerContractInfo">
	<xs:annotation>
		<xs:documentation>This action will delete all customer parameters associated with specified provision id.</xs:documentation>
	</xs:annotation>
	</xs:element> 
    
    <xs:element name="ModifyCustomerContractInfo">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="ModifyInternalProduct" minOccurs="0" />
			<xs:element ref="ModifySupplierTypes" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="CustomerContractInfoAttrGroup" />
	</xs:complexType>
</xs:element> 
    
    <!--               Added For CustomerInfo   End             -->
	<xs:element name="ProvisioningResult">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ProvisioningInfo" minOccurs="0"/>
				<xs:element name="BasicInfo">
					<xs:complexType>
						<xs:attributeGroup ref="typeBasicInfo" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="typeBasicInfo">
		<xs:attribute name="ProfileID" type="common:typeProfileID" use="optional"/>
		<xs:attribute name="ProfileName" type="typeProfileName" use="optional"/>
		<xs:attribute name="ProvisioningCode" type="typeProvisioningCode" use="optional"/>
	</xs:attributeGroup>
	<xs:simpleType name="typeProvisioningCode">
		<xs:restriction base="xs:string">
			<xs:maxLength value="128" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeProfileName">
		<xs:restriction base="xs:string">
			<xs:maxLength value="128" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="typePaginationModifiers">
		<xs:attribute name="MaxResults" type="common:typeMaxResults"
			default="200" />
		<xs:attribute name="StartFromResult" type="common:typeStartFromResult"
			default="1" />
	</xs:complexType>
	<xs:simpleType name="typeDescription">
		<xs:annotation>
			<xs:documentation>Profile levels in the Agency Hierarchy.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="UDT" />
			<xs:enumeration value="UAPI" />
			<xs:enumeration value="NONE" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
