Wsdl/uprofileCommon_v30_0/UprofileCommon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 rel. 2 (x64) (http://www.altova.com) by Jack Jagoda (TRAVELPORT GDS) -->
<xs:schema xmlns="http://www.travelport.com/schema/uprofileCommon_v30_0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.travelport.com/schema/uprofileCommon_v30_0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>(c) Travelport GDS 2008 All rights reserved. Proprietary Information of Travelport GDS.</xs:documentation>
	</xs:annotation>
	
	<xs:element name="OverridePCC">
		<xs:annotation>
			<xs:documentation>Used for Host Emulation - If used agent will emulate to this PCC in host and execute the request emulated into this PCC. PROVIDER SUPPORTED: JAL</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="ProviderCode" type="typeProviderCode" use="required">
				<xs:annotation>
					<xs:documentation>The code of the provider (e.g. 1G, 1S)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="PseudoCityCode" type="typePCC" use="required">
				<xs:annotation>
					<xs:documentation>The PCC in the host system.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="BillingPointOfSaleInfo">
		<xs:annotation>
			<xs:documentation>
				Point of Sale information for Billing
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="OriginApplication" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>
						Name of the Point of Sale application which initiated the Request.This information will be provided as part of the provisioning of the user.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CIDBNumber" use="optional">
				<xs:annotation>
					<xs:documentation>
						A 10 Digit customer number generated by CIDB system.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:pattern value="\d{10}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="AgentIDOverride">
		<xs:annotation>
			<xs:documentation>
                Vendor specific agent identifier overrides to be used to access vendor systems.
            </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="SupplierCode" type="typeSupplierCode" use="required">
				<xs:annotation>
					<xs:documentation>
                        Supplier code to determine which vendor this AgentId belongs to.
                    </xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ProviderCode" type="typeProviderCode" use="required">
				<xs:annotation>
					<xs:documentation>
                        Provider code to route the AgentId to proper provider.
                    </xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="AgentID" use="required">
				<xs:annotation>
					<xs:documentation>
                        The Agent ID for the applicable supplier/vendor
                    </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="TerminalSessionInfo" type="xs:string">
		<xs:annotation>
			<xs:documentation>Travelport use only. This element contains CDATA information representing existing GDS session data or ACH credentials information of the terminal user</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:simpleType name="typeBranchCode">
		<xs:annotation>
			<xs:documentation>Agency Branch Code Identifier</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="25"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="typeMoreResults">
		<xs:annotation>
			<xs:documentation>
				Used to browse beyond the maximum number of results
				specified with the MaxResults parameter. Acts as an
				offset to skip the specified number of PNRs from the
				begining of the result set.
   		</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	
	<xs:element name="NextResultReference">
		<xs:annotation>
			<xs:documentation>Container to return/send additional retrieve/request additional search results</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="typeNonBlanks">
					<xs:attribute name="ProviderCode" type="typeProviderCode" use="optional">
						<xs:annotation>
							<xs:documentation>The code of the Provider (e.g 1G,1S)</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:simpleType name="typeNonBlanks">
		<xs:annotation>
			<xs:documentation>At least one character data in Next Result Reference </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="ResponseMessage">
		<xs:annotation>
			<xs:documentation>A simple textual fare note. Used within several other objects.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="Code" type="xs:integer" use="required"/>
					<xs:attribute name="Type" use="optional">
						<xs:annotation>
							<xs:documentation>Indicates the type of message (Warning, Error, Info)</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Warning"/>
								<xs:enumeration value="Error"/>
								<xs:enumeration value="Info"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attributeGroup ref="attrProviderSupplier"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:attributeGroup name="attrProviderSupplier">
		<xs:annotation>
			<xs:documentation>Attributes used to uniquely describe a content source</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ProviderCode" type="typeProviderCode" use="optional"/>
		<xs:attribute name="SupplierCode" type="typeSupplierCode" use="optional"/>
	</xs:attributeGroup>
	
	<xs:simpleType name="typeSupplierCode">
		<xs:annotation>
			<xs:documentation>2 to 5 Character Supplier code</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	
<xs:simpleType name="StringLength1to128">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 128.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>

<xs:simpleType name="typeProfileEntityStatus">
		<xs:annotation>
			<xs:documentation>Status of the given profile/entity. Any profile with a status other than Active cannot perform most transactions.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Active"/>
			<xs:enumeration value="Inactive"/>
		</xs:restriction>
	</xs:simpleType>


<xs:simpleType name="typeVersion">
		<xs:annotation>
			<xs:documentation>A sequential version number.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>

<xs:simpleType name="typeRef">
		<xs:annotation>
			<xs:documentation>Reference type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>


<xs:simpleType name="StringLength1to255">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 255.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>

<xs:simpleType name="typeProfileID">
		<xs:annotation>
			<xs:documentation>A type for unique party identifiers of any party role. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>

	<xs:simpleType name="typeMoney">
		<xs:annotation>
			<xs:documentation>A monetary value (valid to req/rsp Currency type)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>


<xs:simpleType name="typeCurrency">
		<xs:annotation>
			<xs:documentation>3 Letter Currency Code</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>

<xs:simpleType name="StringLength1to1000">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 1000.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>

<xs:simpleType name="StringLength1to8">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 8.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>

<xs:simpleType name="typeProvisioningCode">
		<xs:annotation>
			<xs:documentation>User defined provisioning identifier.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>


<xs:simpleType name="typePercentageWithDecimal">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]{1,2}|100)\.[0-9]{1,2}">
				<xs:annotation>
					<xs:documentation>A percentage that can include up to two decimal places</xs:documentation>
				</xs:annotation>
			</xs:pattern>
		</xs:restriction>
	</xs:simpleType>


<xs:simpleType name="typeProviderCode">
		<xs:annotation>
			<xs:documentation>5 Character Provider Code</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>

<xs:simpleType name="StringLength1to50">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 64.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>



<xs:simpleType name="typeWildcard">
		<xs:annotation>
			<xs:documentation>Wildcard character is asterisk (*). Wildcard character can be specified at beginning and/or end of string. Wildcard in middle of string is treated as a normal character, not a wildcard. If no wildcard character is provided, one is assumed at end of string.
          </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>



<xs:simpleType name="typeGender">
		<xs:annotation>
			<xs:documentation>The gender of a person.  Data is defined in Ref Pub</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>


<xs:simpleType name="typeCountry">
		<xs:annotation>
			<xs:documentation>2 Letter Country code</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>

<xs:simpleType name="typePTC">
		<xs:annotation>
			<xs:documentation>Passenger Type Code (ADT, A2B5)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
			<xs:minLength value="3"/>
		</xs:restriction>
	</xs:simpleType>

<xs:simpleType name="StringLength6to128">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 6 to 128.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="6"/>
            <xs:maxLength value="128"/>
        </xs:restriction>
    </xs:simpleType>

<xs:simpleType name="typePCC">
		<xs:annotation>
			<xs:documentation>2 to 10 Letter Pseudo City Code</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
			<xs:minLength value="2"/>
		</xs:restriction>
	</xs:simpleType>

<xs:simpleType name="typeIATA">
		<xs:annotation>
			<xs:documentation>ARC/IATA code that represents a branch/agency.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>

<xs:simpleType name="typeFlightNumber">
		<xs:annotation>
			<xs:documentation>flight number type.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>


<xs:simpleType name="typeSSRCode">
		<xs:annotation>
			<xs:documentation>SSR Code, exactly 4 characters (e.g. DEAF, NSST, etc.)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>


<xs:simpleType name="typeRailCabin">
		<xs:annotation>
			<xs:documentation>Rail Cabin class specification .The valid values are Economy,Business,First and Other.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="Auxdata">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Entry" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Reason" type="xs:string"/>
							<xs:element name="Description" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


<xs:complexType name="typeErrorInfo">
		<xs:annotation>
			<xs:documentation>Container for error data when there is an application error.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Code" type="xs:string"/>
			<xs:element name="Service" type="xs:string"/>
			<xs:element name="Type" type="xs:string"/>
			<xs:element name="Description" type="xs:string"/>
			<xs:element name="TransactionId" type="xs:string"/>
			<xs:element name="TraceId" type="xs:string" minOccurs="0"/>
			<xs:element name="CommandHistory" type="xs:string" minOccurs="0"/>
			<xs:element ref="Auxdata" minOccurs="0"/>
			<xs:element name="StackTrace" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>


<xs:simpleType name="typeEmailType">
		<xs:annotation>
			<xs:documentation>An identifier that labels this email address (Personal, Business, Agency, etc)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>


<xs:simpleType name="typeProfileEntityStatusWithDelete">
		<xs:annotation>
			<xs:documentation>Specify whether the change is to update or delete the field.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Deleted"/>
			<xs:enumeration value="Active"/>
			<xs:enumeration value="Inactive"/>
		</xs:restriction>
	</xs:simpleType>


<xs:simpleType name="typeAgentCode">
		<xs:annotation>
			<xs:documentation>The unique identifier of an agent.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9\-_\.@ ]{1,128}"/>
		</xs:restriction>
	</xs:simpleType>

<xs:simpleType name="typeWildcardMax50">
		<xs:annotation>
			<xs:documentation>Wildcard character is asterisk (*). Wildcard character can be specified at beginning and/or end of string. Wildcard in middle of string is treated as a normal character, not a wildcard. If no wildcard character is provided, one is assumed at end of string.
          </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>


<xs:simpleType name="typeMaxResults">
		<xs:annotation>
			<xs:documentation>
				Used to limit the number of results returned,
				particularly in more general searches that may
				return a large result set.
   		</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="200"/>
		</xs:restriction>
	</xs:simpleType>


<xs:simpleType name="typeStartFromResult">
		<xs:annotation>
			<xs:documentation>
				Used to browse beyond the maximum number of results
				specified with the MaxResults parameter. Acts as an
				offset to skip the specified number of PNRs from the
				begining of the result set.
   		</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
<xs:element name="ProviderReservationInfoRef">
		<xs:annotation>
			<xs:documentation>Container for Provider reservation reference key.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Key" type="typeRef" use="required"/>
		</xs:complexType>
	</xs:element>
	
	<xs:simpleType name="typeElementStatus">
		<xs:annotation>
			<xs:documentation>Values to specify the state of the element. "A" refers to "Add" , "M" refers to "Modified"
            and "C" refers to error conditions when value provided in "Key" attribute is not retained in response</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="A"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="C"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:attributeGroup name="attrElementKeyResults">
		<xs:annotation>
			<xs:documentation>ElementStatus and KeyOverride to show the changes in the element keys</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ElStat" type="typeElementStatus" use="optional">
			<xs:annotation>
				<xs:documentation>This attribute is used to show the action results of an element. 
              Possible values are "A" (when elements have been added to the UR) and "M" (when existing elements have been modified). Response only.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="KeyOverride" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>If a duplicate key is found where we are adding elements in some cases like URAdd, then instead of erroring out set this attribute to true.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	
<xs:element name="PhoneNumber">
		<xs:annotation>
			<xs:documentation>Consists of type (office, home, fax), location (city code), the country code, the number, and an extension.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:annotation>
					<xs:documentation>Tagging provider reservation info with PhoneNumber.</xs:documentation>
				</xs:annotation>
				<xs:element ref="ProviderReservationInfoRef" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Key" type="typeRef" use="optional"/>
			<xs:attribute name="Type" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Agency"/>
						<xs:enumeration value="Business"/>
						<xs:enumeration value="Mobile"/>
						<xs:enumeration value="Home"/>
						<xs:enumeration value="Fax"/>
						<xs:enumeration value="Hotel"/>
						<xs:enumeration value="Other"/>
						<xs:enumeration value="None"/>
						<xs:enumeration value="Email"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Location" use="optional">
				<xs:annotation>
					<xs:documentation>IATA code for airport or city</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="CountryCode" use="optional">
				<xs:annotation>
					<xs:documentation>Hosts/providers will expect this to be international dialing digits</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="AreaCode" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Number" use="required">
				<xs:annotation>
					<xs:documentation>The local phone number</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="83"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Extension" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Text" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1024"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attributeGroup ref="attrElementKeyResults"/>
		</xs:complexType>
	</xs:element>


<xs:complexType name="typePaymentCard">
		<xs:annotation>
			<xs:documentation>Container for all credit and debit card
                information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="PhoneNumber" minOccurs="0"/>
			<xs:element name="BillingAddress" type="typeStructuredAddress" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The address to where the billing statements
                        for this card are sent. Used for address verification purposes.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Type" type="typeCardMerchantType" use="optional">
			<xs:annotation>
				<xs:documentation>The 2 letter credit/ debit card type.
                </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Number" type="typeCreditCardNumber" use="optional"/>
		<xs:attribute name="ExpDate" type="xs:gYearMonth" use="optional">
			<xs:annotation>
				<xs:documentation>The Expiration date of this card in YYYY-MM format.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Name" use="optional">
			<xs:annotation>
				<xs:documentation>The name as it appears on the card.
                </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="128"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="CVV" use="optional">
			<xs:annotation>
				<xs:documentation>Card Verification Code</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="4"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ApprovalCode" use="optional">
			<xs:annotation>
				<xs:documentation>This code is required for an authorization process from the Credit Card company directly,required for some of the CCH carriers.This attribute is also used for EMD retrieve and issuance transactions.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="16"/>
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	
	
	<xs:element name="Certificate">
		<xs:annotation>
			<xs:documentation>Certificate Form of Payment</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Number" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>The Certificate number</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Amount" type="typeMoney" use="optional">
				<xs:annotation>
					<xs:documentation>The monetary value of the certificate.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DiscountAmount" type="typeMoney" use="optional">
				<xs:annotation>
					<xs:documentation>The monetary discount amount of this certificate.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DiscountPercentage" type="xs:integer" use="optional">
				<xs:annotation>
					<xs:documentation>The percentage discount value of this certificate.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NotValidBefore" type="xs:date" use="optional">
				<xs:annotation>
					<xs:documentation>The date that this certificate becomes valid.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NotValidAfter" type="xs:date" use="optional">
				<xs:annotation>
					<xs:documentation>The date that this certificate expires.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Check">
		<xs:annotation>
			<xs:documentation>Check Form of Payment</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="MICRNumber" use="optional">
				<xs:annotation>
					<xs:documentation>Magnetic Ink Character Reader Number of check.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="29"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="RoutingNumber" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The bank routing number of the check.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="AccountNumber" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The account number of the check</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CheckNumber" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The sequential check number of the check.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:simpleType name="StringLength1to13">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 13.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="13"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="TicketNumber" type="StringLength1to13">
		<xs:annotation>
			<xs:documentation>The identifying number for the actual ticket</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:element name="MiscFormOfPayment">
		<xs:annotation>
			<xs:documentation>Miscellaneous Form of Payments</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="CreditCardType" use="optional">
				<xs:annotation>
					<xs:documentation>The 2 letter credit/ debit card type or code which may not have been issued using the standard bank card types  - i.e. an airline issued card</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="CreditCardNumber" type="typeCreditCardNumber" use="optional"/>
			<xs:attribute name="ExpDate" type="xs:gYearMonth" use="optional">
				<xs:annotation>
					<xs:documentation>The Expiration date of this card in YYYY-MM format.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Text" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Any free form text which may be associated with the Miscellaneous Form of Payment. This text may be provider or GDS specific</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Category" use="required">
				<xs:annotation>
					<xs:documentation>Indicates what Category the Miscellaneous Form Of Payment is being used for payment - The category may vary by GDS.</xs:documentation>
					<xs:documentation>Allowable values are
                        "Text"
                        "Credit"
                        "CreditCard"
                        "FreeFormCreditCard"
                        "Invoice"
                        "NonRefundable"
                        "MultipleReceivables"
                        "Exchange"
                        "Cash"
                    </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="AcceptanceOverride" type="xs:boolean" use="optional">
				<xs:annotation>
					<xs:documentation>Override airline restriction on the credit card.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="AgencyPayment" type="typeAgencyPayment">
		<xs:annotation>
			<xs:documentation>Container for Agency Payment</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:complexType name="typeAgencyPayment">
		<xs:annotation>
			<xs:documentation>Type for Agency Payment.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="AgencyBillingIdentifier" use="required">
			<xs:annotation>
				<xs:documentation>Value of the billing id</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="128"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="AgencyBillingNumber" use="optional">
			<xs:annotation>
				<xs:documentation>Value of billing number</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="128"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="AgencyBillingPassword" use="optional">
			<xs:annotation>
				<xs:documentation>Value of billing password</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="128"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	
	<xs:element name="UnitedNations">
		<xs:annotation>
			<xs:documentation>United Nations Form of Payments</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Number" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="AgentVoucher">
		<xs:annotation>
			<xs:documentation>Agent Voucher Form of Payments</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Number" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="PaymentAdvice">
		<xs:annotation>
			<xs:documentation>Contains other form of payment for Cruise
				Reservations
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Type" use="required">
				<xs:annotation>
					<xs:documentation>Other Payment Yype. Possible Values: AGC - Agency
						Check, AGG - Agency Guarantee, AWC - Award Check, CSH - Cash
						Equivalent, DBC - Denied Boarding Compensation, MCO -
						Miscellaneous Charge Order, TOO - Tour Order, TOV - Tour Voucher
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DocumentNumber" use="required">
				<xs:annotation>
					<xs:documentation>Payment Document Number Examples: 1234567890,
						R7777
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="22" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="IssueDate" type="xs:date" use="required">
				<xs:annotation>
					<xs:documentation>Document Issuance date</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IssueCity" type="typeIATACode" use="required">
				<xs:annotation>
					<xs:documentation>City code of document issuance</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="OriginalFOP" use="optional">
				<xs:annotation>
					<xs:documentation>Original form of payment Examples: CHECK 3500
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:simpleType name="typeIATACode">
		<xs:annotation>
			<xs:documentation>Valid 3 letter IATA city or airport code</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>


<xs:group name="FormOfPaymentSequenceGroup">
		<xs:choice>
			<xs:element ref="Certificate" minOccurs="0"/>
			<xs:element ref="TicketNumber" minOccurs="0"/>
			<xs:element ref="Check" minOccurs="0"/>
			<xs:element ref="Requisition" minOccurs="0"/>
			<xs:element ref="MiscFormOfPayment" minOccurs="0"/>
			<xs:element ref="AgencyPayment" minOccurs="0"/>
			<xs:element ref="UnitedNations" minOccurs="0"/>
			<xs:element ref="DirectPayment" minOccurs="0"/>
			<xs:element ref="AgentVoucher" minOccurs="0"/>
			<xs:element ref="PaymentAdvice" minOccurs="0"/>
		</xs:choice>
	</xs:group>




<xs:complexType name="typeGuaranteeInformation">
		<xs:annotation>
			<xs:documentation>Information pertaining to the payment of type Guarantee.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Type" use="required">
			<xs:annotation>
				<xs:documentation>Guarantee only or Deposit</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Guarantee"/>
					<xs:enumeration value="Deposit"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="AgencyType" use="required">
			<xs:annotation>
				<xs:documentation>Guarantee to Agency IATA or Guarantee to Another Agency IATA</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="AgencyIATA"/>
					<xs:enumeration value="OtherAgencyIATA"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="IATANumber" type="StringLength1to128" use="required">
			<xs:annotation>
				<xs:documentation>Payment IATA number. (ie. IATA of Agency or Other Agency)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>


<xs:complexType name="typeVoucherInformation">
		<xs:annotation>
			<xs:documentation>Information pertaining to the payment of a Vehicle Rental.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="VoucherType" type="typeVoucherType" use="required">
			<xs:annotation>
				<xs:documentation>Specifies if the Voucher is for Full Credit or a Group/Day or a Monetary Amount.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Amount" type="typeMoney" use="optional">
			<xs:annotation>
				<xs:documentation>Amount associated with the Voucher.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ConfirmationNumber" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Confirmation from the vendor for the voucher</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AccountName" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Associated account name for the voucher</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>


	<xs:complexType name="typeStructuredAddress">
		<xs:annotation>
			<xs:documentation>A fully structured address</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AddressName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Street" minOccurs="0" maxOccurs="5">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="City" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="2"/>
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="State" minOccurs="0"/>
			<xs:element name="PostalCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="2"/>
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Country" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="ProviderReservationInfoRef" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Tagging provider reservation info with Address.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Key" type="typeRef" use="optional">
			<xs:annotation>
				<xs:documentation>Key for update/delete of the element</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="attrElementKeyResults"/>
	</xs:complexType>
	
	<xs:element name="State">
		<xs:annotation>
			<xs:documentation>Container to house the state code for an address</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string"/>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>



<xs:simpleType name="typeCardMerchantType">
		<xs:annotation>
			<xs:documentation>2 letter Credit/Debit Card merchant type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>




<xs:simpleType name="typeCreditCardNumber">
		<xs:annotation>
			<xs:documentation>The associated credit/debit card number without spaces or dashes.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="13"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>





<xs:element name="Requisition">
		<xs:annotation>
			<xs:documentation>Requisition Form of Payment</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Number" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Requisition number used for accounting</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Category" use="optional">
				<xs:annotation>
					<xs:documentation>Classification Category for the requisition payment</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Government"/>
						<xs:enumeration value="Other"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Type" use="optional">
				<xs:annotation>
					<xs:documentation>Type can be Cash or Credit for category as Government</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Cash"/>
						<xs:enumeration value="Credit"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>




<xs:element name="DirectPayment">
		<xs:annotation>
			<xs:documentation>Direct Payment Form of Payments</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Text" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>



<xs:simpleType name="typeVoucherType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FullCredit"/>
			<xs:enumeration value="GroupOrDay"/>
			<xs:enumeration value="SpecificValue"/>
		</xs:restriction>
	</xs:simpleType>


<xs:complexType name="typeCreditCardType">
		<xs:complexContent>
			<xs:extension base="typePaymentCard">
				<xs:attribute name="ExtendedPayment" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>Used for American Express cards.
                            </xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="CustomerReference" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>Agencies use this to pass the traveler information to the credit card company.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="AcceptanceOverride" type="xs:boolean" use="optional">
					<xs:annotation>
						<xs:documentation>Override airline restriction on the credit card.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="ThirdPartyPayment" type="xs:boolean" use="optional" default="false">
					<xs:annotation>
						<xs:documentation>If true, this indicates that the credit card holder is not one of the passengers.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="BankName" type="xs:string">
					<xs:annotation>
						<xs:documentation>Issuing bank name for this credit card</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="BankCountryCode" type="typeCountry">
					<xs:annotation>
						<xs:documentation>ISO Country code associated with the issuing bank</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="BankStateCode" type="typeState">
					<xs:annotation>
						<xs:documentation>State code associated with the issuing bank.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:simpleType name="typeState">
		<xs:annotation>
			<xs:documentation>Defines the State code.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringLength1to10">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 10.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="typeProfileType">
        <xs:annotation>
            <xs:documentation>A type for unique party identifiers of any party role. </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AgencyGroup"/>
            <xs:enumeration value="Agency"/>
            <xs:enumeration value="BranchGroup"/>
            <xs:enumeration value="Branch"/>
            <xs:enumeration value="Agent"/>
            <xs:enumeration value="Account"/>
            <xs:enumeration value="TravelerGroup"/>
            <xs:enumeration value="Traveler"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
