Wsdl/uprofile_v37_0/UProfileReqRsp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.travelport.com/schema/uprofile_v37_0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.travelport.com/schema/uprofile_v37_0"
           xmlns:common="http://www.travelport.com/schema/common_v37_0" 
           elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:annotation>
        <xs:documentation>(c) Travelport GDS 2008 All rights reserved. Proprietary Information of Travelport GDS.</xs:documentation>
    </xs:annotation>

    <xs:import schemaLocation="../common_v37_0/CommonReqRsp.xsd" namespace="http://www.travelport.com/schema/common_v37_0"/>
    <xs:include schemaLocation="UProfile.xsd"/>
    <xs:include schemaLocation="UProfileCoreReqRsp.xsd"/>

    <!--*** Custom Field Request Types ***-->

     <xs:element name="ProfileCreateFieldReq"> 
     	<xs:annotation> 
     		<xs:documentation>Creates one or multiple custom fields and/or field groups.</xs:documentation> 
     	</xs:annotation> 
     	<xs:complexType> 
     		<xs:complexContent> 
     			<xs:extension base="common:BaseReq"> 
     				<xs:sequence> 
     					<xs:element ref="CreateField" minOccurs="0" maxOccurs="unbounded"> 
     						<xs:annotation> 
     							<xs:documentation>Defines the attributes of a new custom field.</xs:documentation> 
     						</xs:annotation> 
     					</xs:element> 
     					<xs:element ref="CreateFieldGroup" minOccurs="0" maxOccurs="unbounded"> 
     						<xs:annotation> 
     							<xs:documentation>Defines the attributes and structure of a new custom field group, and the custom fields that belong to it.</xs:documentation> 
     						</xs:annotation> 
     					</xs:element> 
     				</xs:sequence> 
     				<xs:attribute name="ProfileID" type="common:typeProfileID" use="required"> 
     					<xs:annotation> 
     						<xs:documentation>The ID of the agency or account profile that will own the field(s) and group(s) to be created.</xs:documentation> 
     					</xs:annotation> 
     				</xs:attribute> 
     			</xs:extension> 
     		</xs:complexContent> 
     	</xs:complexType> 
     </xs:element>    
   <xs:element name="ProfileCreateFieldRsp">
      <xs:annotation>
         <xs:documentation>Response containing details of new fields and/or groups created.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="common:BaseRsp">
               <xs:sequence>
                  <xs:element ref="Field" minOccurs="0" maxOccurs="unbounded">
                     <xs:annotation>
                        <xs:documentation>Defines a field.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element ref="FieldGroup" minOccurs="0" maxOccurs="unbounded">
                     <xs:annotation>
                        <xs:documentation>Defines a field group.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>   
   
   <xs:element name="ProfileModifyFieldReq">
       <xs:annotation>
           <xs:documentation>Modifies a custom field or field group. Note that some modifications are not permitted once a field or field group is in use (i.e., is associated to a template).</xs:documentation>
       </xs:annotation>
       <xs:complexType>
          <xs:complexContent>
               <xs:extension base="common:BaseReq">
                   <xs:sequence>
                       <xs:element ref="ModifyField" minOccurs="0" maxOccurs="unbounded"/>
                       <xs:element ref="ModifyFieldGroup" minOccurs="0" maxOccurs="unbounded"/>
                   </xs:sequence>
               </xs:extension>
           </xs:complexContent>
       </xs:complexType>
   </xs:element>
   
   
   <xs:element name="ProfileModifyFieldRsp">
       <xs:annotation>
           <xs:documentation>Response reflecting changes made to the custom field or field group.</xs:documentation>
       </xs:annotation>
        <xs:complexType>
         <xs:complexContent>
            <xs:extension base="common:BaseRsp">
               <xs:sequence>
                  <xs:element ref="Field" minOccurs="0" maxOccurs="unbounded">
                     <xs:annotation>
                        <xs:documentation>Defines a field.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element ref="FieldGroup" minOccurs="0" maxOccurs="unbounded">
                     <xs:annotation>
                        <xs:documentation>Defines a field group.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>       
   </xs:element>
    
   <!-- *** Hierarchy Request Types *** -->
   
   <xs:element name="ProfileCreateHierarchyLevelReq">
        <xs:annotation>
            <xs:documentation>Request to create a new level within an existing agency or account hierarchy. The template of the hierarchy level will be auto-generated.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseReq">
                    <xs:attribute name="ParentHierarchyLevelID" type="common:typeProfileID" use="optional">
                        <xs:annotation>
                            <xs:documentation>System-assigned, unique hierarchy level ID of the immediate parent of this hiearchy level. Required unless profile type is AgencyGroup.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="ProfileType" type="typeCreateHierarchyLevel" use="required">
                        <xs:annotation>
                            <xs:documentation>The type of profile this hierarchy level corresponds to. Limited to AgencyGroup, BranchGroup and TravelerGroup.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="Name" type="typeHierarchyName" use="required">
                        <xs:annotation>
                            <xs:documentation>Name of this level of the hierarchy.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="Description" type="common:StringLength1to255">
                        <xs:annotation>
                            <xs:documentation>A brief description of this hierarchy level.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="ProfileCreateHierarchyLevelRsp">
        <xs:annotation>
            <xs:documentation>Response with the requested hierarchy structure.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseRsp">
                    <xs:sequence>
                        <xs:element ref="HierarchyLevel" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="ProfileDeleteHierarchyLevelReq">
        <xs:annotation>
             <xs:documentation>Request to delete an existing Group level of an agency or account hierarchy. Only permitted if no profiles exist for the level.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseReq">
                    <xs:attributeGroup ref="attrsDeleteHierarchyID"/>
                   </xs:extension>
               </xs:complexContent>
            </xs:complexType>
   </xs:element>
   
   <xs:element name="ProfileDeleteHierarchyLevelRsp">
        <xs:annotation>
            <xs:documentation>Response with the updated hierarchy structure.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseRsp">
                    <xs:sequence>
                        <xs:element ref="HierarchyLevel" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
   </xs:element>
   
   <xs:element name="ProfileModifyHierarchyLevelReq">
      <xs:annotation>
         <xs:documentation>Request to modify an existing level within an agency or account hierarchy. </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="common:BaseReq">            
               <xs:attributeGroup ref="attrsHierarchyID"/>
               <xs:attribute name="Name" type="typeHierarchyName">
                  <xs:annotation>
                     <xs:documentation>Name of this level of the hierarchy.</xs:documentation>
                  </xs:annotation>
               </xs:attribute>
               <xs:attribute name="Description" type="common:StringLength1to255">
                  <xs:annotation>
                     <xs:documentation>A brief description of this hierarchy level.</xs:documentation>
                  </xs:annotation>
               </xs:attribute>
               <xs:attribute name="ParentHierarchyLevelID" type="typeID" use="optional">
                  <xs:annotation>
                     <xs:documentation>To swap the order of two Group levels, specify the new parent of this level. Only Group levels can be reassigned, and can only move up or down one location in the overall hierarchy.</xs:documentation>
                  </xs:annotation>
               </xs:attribute>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element> 
   
   
   
   <xs:element name="ProfileModifyHierarchyLevelRsp">
      <xs:annotation>
       <xs:documentation>Response with the newly modified hierarchy level.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
       <xs:complexContent>
        <xs:extension base="common:BaseRsp">
         <xs:sequence>
          <xs:element ref="HierarchyLevel" maxOccurs="unbounded"/>
         </xs:sequence>
        </xs:extension>
       </xs:complexContent>
      </xs:complexType>
    </xs:element> 
    
    <xs:element name="ProfileRetrieveHierarchyReq">
      <xs:annotation>
         <xs:documentation>Request to retrieve the superset of profile levels within an agency,agency group or an account.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="common:BaseReq">
               <xs:choice>
                  <xs:element name="ProfileID" type="common:typeProfileID">
                     <xs:annotation>
                        <xs:documentation>Agency,AgencyGroup or Account in which the hierarchy is created.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="AgencyCode" type="common:typeProvisioningCode">
                     <xs:annotation>
                        <xs:documentation>Specify the AgencyCode Of the Agency in which the hierarchy was created.  Accounts and AgencyGroup do not have Provisioning IDs</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:choice>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
    
   <xs:element name="ProfileRetrieveHierarchyRsp">
      <xs:annotation>
            <xs:documentation>Response with the requested hierarchy structure.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseRsp">
                    <xs:sequence>
                        <xs:element ref="HierarchyLevel" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="ProfileRetrieveHistoryReq">
        <xs:annotation>
            <xs:documentation>Request to retrieve history for the whole profile, a particular element, or a date range.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseReq">
                    <xs:sequence>
                        <xs:element name="ProfileID" type="common:typeProfileID">
                            <xs:annotation>
                                <xs:documentation>Specify the unique ID of the profile whose history is being retrieved.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element ref="ProfileHistoryRetrieveCriteria" minOccurs="0"/>
                        <xs:element ref="ProfileSearchModifiers" minOccurs="0"/>
                    </xs:sequence>
                    <xs:attribute name="ShowDataUnmasked" type="xs:boolean" default="false">
                        <xs:annotation>
                            <xs:documentation>Set to true to show data unmasked in the profile history retrieve response. Requires special authorization.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="ProfileRetrieveHistoryRsp">
        <xs:annotation>
            <xs:documentation>Response with the profile history filtered as specified in the request.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseRsp">
                    <xs:sequence>
                        <xs:element ref="ProfileHistory"/>
                    </xs:sequence>
                    <xs:attribute name="MoreResults" type="common:typeMoreResults" use="required">
                        <xs:annotation>
                            <xs:documentation>Indicates whether more results are available that match the search parameters.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
 
  <!-- *** Action Request Types ***  -->
    <xs:element name="ProfileSearchActionReq">
        <xs:annotation>
            <xs:documentation>Get summary of all Action(s) available in the
                system.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseReq">
                    <xs:attribute name="ConsumingSystem" type="common:StringLength1to128" use="required">
                        <xs:annotation>
                            <xs:documentation>Action Consuming System (Universal Desktop, 3rd party system).</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="ProfileSearchActionRsp">
        <xs:annotation>
            <xs:documentation>Response containing summary of all retrieved
                action(s).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseRsp">
                    <xs:sequence>
                        <xs:element ref="ActionSummary" minOccurs="0"
                            maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Summary of each action.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="ProfileRetrieveActionReq">
        <xs:annotation>
            <xs:documentation>Retrieves details of specific Action(s).
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseReq">
                    <xs:sequence>
                        <xs:element name="ActionInfo" type="typeActionRef"
                            maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Action to retrieve.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="ProfileRetrieveActionRsp">
        <xs:annotation>
            <xs:documentation>Response containing details of retrieved action(s).
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseRsp">
                    <xs:sequence>
                        <xs:element ref="Action" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Details of each action.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="ProfileSearchFieldReq">
    	<xs:annotation>
    		<xs:documentation>Request to retrieve the fields and field groups owned by a specified agency.</xs:documentation>
    	</xs:annotation>
    	<xs:complexType>
    		<xs:complexContent>
    			<xs:extension base="common:BaseReq">
    				<xs:sequence>
    					<xs:element ref="ProfileSearchModifiers" minOccurs="0"/>
    				</xs:sequence>
    				<xs:attribute name="ProfileID" type="common:typeProfileID" use="required">
    					<xs:annotation>
    						<xs:documentation>The ID of the agency or account that owns the fields/groups to be retrieved.</xs:documentation>
    					</xs:annotation>
    				</xs:attribute>
    			</xs:extension>
    		</xs:complexContent>
    	</xs:complexType>
    </xs:element>
    
   <xs:element name="ProfileSearchFieldRsp">
        <xs:annotation>
            <xs:documentation>Response showing details of the requested field or field group.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseRsp">
                    <xs:sequence>
                        <xs:element ref="Field" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element ref="FieldGroup" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Defines the structure of a field group, which can be based on existing fields and groups (referred to by Id) and/or new fields and groups (referred to by FieldGroupRef or FieldRef and defined in FieldList or FieldGroupList).</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="MoreResults" type="common:typeMoreResults" use="required">
                        <xs:annotation>
                            <xs:documentation>Indicates whether more results are available that match the search parameters.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
   
   <!--*** Custom Tag Request & Response ***-->
   <xs:element name="ProfileCreateTagsReq">
      <xs:annotation>
         <xs:documentation>Request to create tags for an agency.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="common:BaseReq">
               <xs:sequence>
                  <xs:element name="CreateTag" maxOccurs="15">
                     <xs:annotation>
                        <xs:documentation/>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:attributeGroup ref="attrsTag"/>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
               <xs:attribute name="AgencyID" type="common:typeProfileID" use="required">
                  <xs:annotation>
                     <xs:documentation>The ID of the agency that the tags are created for.</xs:documentation>
                  </xs:annotation>
               </xs:attribute>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   
   <xs:element name="ProfileCreateTagsRsp">
    <xs:annotation>
     <xs:documentation>Response with all the tags for the agency.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
     <xs:complexContent>
      <xs:extension base="common:BaseRsp">
       <xs:sequence>
        <xs:element ref="Tag" maxOccurs="15">
         <xs:annotation>
          <xs:documentation>A tag that belongs to the agency.</xs:documentation>
         </xs:annotation>
        </xs:element>
       </xs:sequence>
      </xs:extension>
     </xs:complexContent>
    </xs:complexType>
   </xs:element>   

   <xs:element name="ProfileDeleteTagReq">
    <xs:annotation>
     <xs:documentation>Request to delete tags.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
     <xs:complexContent>
      <xs:extension base="common:BaseReq">
        <xs:sequence>
          <xs:element ref="TagRef">
               <xs:annotation>
                <xs:documentation>The tag to be deleted</xs:documentation>
              </xs:annotation>
           </xs:element>
        </xs:sequence>
         <xs:attribute name="Override" type="xs:boolean" default="false">
            <xs:annotation>
                <xs:documentation>Indicator to override the delete when the tag is "in use" by profiles in the agency.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
      </xs:extension>
     </xs:complexContent>
    </xs:complexType>
   </xs:element> 
    
   <xs:element name="ProfileDeleteTagRsp" type="common:BaseRsp">
      <xs:annotation>
             <xs:documentation>Successful Response that the tag has been deleted.</xs:documentation>
     </xs:annotation>
   </xs:element>

   <xs:element name="ProfileSearchTagsReq">
    <xs:annotation>
     <xs:documentation>Request to retrieve tags for an agency.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
     <xs:complexContent>
      <xs:extension base="common:BaseReq">
       <xs:attribute name="AgencyID" type="common:typeProfileID" use="required">
        <xs:annotation>
         <xs:documentation>The ID of the agency that the tags belong to.</xs:documentation>
        </xs:annotation>
       </xs:attribute>
      </xs:extension>
     </xs:complexContent>
    </xs:complexType>
   </xs:element>
   
   <xs:element name="ProfileSearchTagsRsp">
    <xs:annotation>
     <xs:documentation>Response with all the tags for the agency.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
     <xs:complexContent>
      <xs:extension base="common:BaseRsp">
       <xs:sequence>
        <xs:element ref="Tag" minOccurs="0" maxOccurs="15">
         <xs:annotation>
          <xs:documentation>A tag that belongs to the agency.</xs:documentation>
         </xs:annotation>
        </xs:element>
       </xs:sequence>
      </xs:extension>
     </xs:complexContent>
    </xs:complexType>
   </xs:element>  
   
   <xs:element name="ProfileModifyTagsReq">
      <xs:annotation>
         <xs:documentation>Request to modify tags for an agency.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="common:BaseReq">
               <xs:sequence>
                    <xs:element ref="ModifyTag" maxOccurs="15"/>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   
   <xs:element name="ProfileModifyTagsRsp">
      <xs:annotation>
         <xs:documentation>Response with the modified tags.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="common:BaseRsp">
               <xs:sequence>
                  <xs:element name="Tag" maxOccurs="15">
                     <xs:annotation>
                        <xs:documentation/>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:attributeGroup ref="attrsTagWithID"/>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   
   <!--*** Template Request & Response ***-->
   
   <xs:element name="ProfileRetrieveTemplateReq">
        <xs:annotation>
            <xs:documentation>Request to retrieve a profile template.  If version exists, the response will not return the template unless there is a mismatch.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseReq">
                    <xs:sequence>
                        <xs:element name="ConsumingSystem" minOccurs="0" maxOccurs="unbounded" type="common:StringLength1to128">
                            <xs:annotation>
                                <xs:documentation>Filter out actions and endpoints based on the consuming system(s)</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="ID" type="typeTemplateID" use="required">
                        <xs:annotation>
                            <xs:documentation>Unique identifier of the template, defined by the system.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="Version" type="common:typeVersion">
                        <xs:annotation>
                            <xs:documentation>Version number of the template.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="ReturnOverrideFieldsOnly" type="xs:boolean" default="false">
                        <xs:annotation>
                            <xs:documentation>Default=false.By default response will return aggregated structure of override plus default template.If passed true, only override fields will be returned.</xs:documentation>
                        </xs:annotation>
                     </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="ProfileRetrieveTemplateRsp">
        <xs:annotation>
            <xs:documentation>Response with profile template data.  If the version on the request matches the most recent template version then the template is not returned.  Otherwise the template is returned.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseRsp">
                    <xs:sequence>
                        <xs:element ref="ProfileTemplate" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    
   <xs:element name="ProfileModifyTemplateReq">
      <xs:annotation>
         <xs:documentation>Request to modify template.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="common:BaseReq">
               <xs:sequence>
                  <xs:element ref="TemplateModifyCmd" maxOccurs="unbounded"/>
               </xs:sequence>
               <xs:attribute name="ID" type="typeTemplateID" use="required">
                  <xs:annotation>
                     <xs:documentation>Unique identifier of the template, defined by the system.</xs:documentation>
                  </xs:annotation>
               </xs:attribute>
               <xs:attribute name="Version" type="common:typeVersion" use="required">
                  <xs:annotation>
                     <xs:documentation>Version number of the template. Required with every modify request.</xs:documentation>
                  </xs:annotation>
               </xs:attribute>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   
   <xs:element name="ProfileModifyTemplateRsp">
      <xs:annotation>
         <xs:documentation>Response with profile template data.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="common:BaseRsp">
               <xs:sequence>
                  <xs:element ref="ProfileTemplate"/>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   
      <xs:element name="ProfileChildSearchReq">
      <xs:annotation>
         <xs:documentation>Request to allow a user to retrieve the immediate children of a given profile.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="common:BaseReq">
               <xs:sequence>
               <xs:group ref="ProfileSpecification"/>
                <xs:choice minOccurs="0">
                    <xs:element name="OrganizationName" type="common:typeWildcard">
                        <xs:annotation>
                            <xs:documentation>Name of the organization to filter for.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:sequence>
                        <xs:element name="GivenName" type="common:typeWildcard" minOccurs="0"/>
                        <xs:element name="Surname" type="common:typeWildcard" minOccurs="0"/>
                    </xs:sequence>
                  </xs:choice>
                  <xs:element ref="ProfileSearchModifiers" minOccurs="0"/>
               </xs:sequence>
               <xs:attribute name="HierarchyType">
                        <xs:annotation>
                            <xs:documentation>The type of hierarchy in which to search for children. If not specified search result will include profiles of all types.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="typeProfileType">
                                <xs:enumeration value="Agency"/>
                                <xs:enumeration value="Account"/>
                            </xs:restriction>
                        </xs:simpleType>
              </xs:attribute>
              <xs:attribute name="IncludeAgentsAndTravelers" type="xs:boolean" default="false">
                        <xs:annotation>
                            <xs:documentation>Indicator to include or exclude Travelers and Agent profiles when doing a this search.  The default is false, no Travelers or Agents will be returned.</xs:documentation>
                        </xs:annotation>
             </xs:attribute>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
    
   <xs:element name="ProfileChildSearchRsp">
      <xs:annotation>
         <xs:documentation>Response to allow a user to retrieve the immediate children of a given profile.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="common:BaseRsp">
               <xs:sequence>
                  <xs:element ref="ProfileChildSummary" minOccurs="0" maxOccurs="unbounded">
                     <xs:annotation>
                        <xs:documentation>Summary of each Profile Child</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
               <xs:attribute name="MoreResults" type="common:typeMoreResults" use="required">
                  <xs:annotation>
                     <xs:documentation>Indicates whether more results are available that match the search parameters.</xs:documentation>
                  </xs:annotation>
               </xs:attribute>
               <xs:attribute name="NumberOfChildren" type="xs:int">
                  <xs:annotation>
                     <xs:documentation>Total number of children that the profile searched under has,</xs:documentation>
                  </xs:annotation>
             </xs:attribute>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   
   <!-- Bridge Branch Request Response  -->
   
   <xs:element name="ProfileRetrieveBridgeBranchesReq">
        <xs:annotation>
            <xs:documentation>Request to retrieve an Agent's Bridge Branch Assignments</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseReq">
                    <xs:choice>
                        <xs:annotation>
                            <xs:documentation>Specify either the profile ID or the user name of the agent.</xs:documentation>
                        </xs:annotation>
                        <xs:element name="AgentID" type="common:typeProfileID">
                            <xs:annotation>
                                <xs:documentation>The system-assigned, unique profile ID of the agent.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="UserName" type="common:StringLength1to128">
                            <xs:annotation>
                                <xs:documentation>The login name of the agent.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:choice>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="ProfileRetrieveBridgeBranchesRsp">
        <xs:annotation>
            <xs:documentation>Response to retreive an Agent's Bridge Branch Assignments.  Returns the list of bridge branches that the agent is currently assigned to.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseRsp">
                    <xs:sequence>
                        <xs:element ref="BridgeBranch" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                    <xs:attribute name="AgentID" type="common:typeProfileID" use="required">
                        <xs:annotation>
                            <xs:documentation>The system-assigned, unique profile ID of the agent.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="UserName" type="common:StringLength1to128" use="required">
                        <xs:annotation>
                            <xs:documentation>The login name of the agent.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>   
   
   <xs:element name="ProfileModifyBridgeBranchesReq">
        <xs:annotation>
            <xs:documentation>Request to add or delete an Agent's Bridge Branch Assignments.  The Default branch cannot be modified.  That functionality will only be used in the Profile Create and Modify services.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseReq">
                    <xs:sequence>
                        <xs:choice>
                            <xs:annotation>
                                <xs:documentation>Specify either the profile ID or the user name of the agent.</xs:documentation>
                            </xs:annotation>
                            <xs:element name="AgentID" type="common:typeProfileID">
                                <xs:annotation>
                                    <xs:documentation>The system-assigned, unique profile ID of the agent.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="UserName" type="common:StringLength1to128">
                                <xs:annotation>
                                    <xs:documentation>The login name of the agent.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:choice>
                        <xs:element ref="BridgeBranchCmd" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Command to add or remove a Bridge Branch assignment</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="ProfileModifyBridgeBranchesRsp">
        <xs:annotation>
            <xs:documentation>Response to add or delete an Agent's Bridge Branch Assignments.  Returns the list of bridge branches that the agent is currently assigned to.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseRsp">
                    <xs:sequence>
                        <xs:element ref="BridgeBranch" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                    <xs:attribute name="AgentID" type="common:typeProfileID" use="required">
                        <xs:annotation>
                            <xs:documentation>The system-assigned, unique profile ID of the agent.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="UserName" type="common:StringLength1to128" use="required">
                        <xs:annotation>
                            <xs:documentation>The login name of the agent.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    
    <xs:element name="SingleProfileMigrationReq">
        <xs:annotation>
            <xs:documentation>Request to initiate the migration process of a single Account or Traveler profile from host to uProfile.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseReq">
                    <xs:attribute name="ExternalSystem" type="common:StringLength1to10" use="required">
                        <xs:annotation>
                            <xs:documentation>ExternalSystem to indicate the origin  system of profile. Currently supported for 1G,1V. Future enhancement may include TDS, CSV, 1P. </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="ProfileType" type="common:typeProfileType" use="required">
                        <xs:annotation>
                            <xs:documentation>The type of the Profile to be migrated.e.g- Account , Traveler</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="PCC" type="common:typePCC" use="required">
                        <xs:annotation>
                            <xs:documentation>The PCC of the Profile to be migrated.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="AccountProfileTitle" type="common:StringLength1to50" use="required">
                        <xs:annotation>
                            <xs:documentation>Account Profile Title which need to be migrated.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="TravelerProfileTitle" type="common:StringLength1to50" use="optional">
                        <xs:annotation>
                            <xs:documentation>Traveler Profile Title which need to be migrated. </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    
     <xs:element name="SingleProfileMigrationRsp">
        <xs:annotation>
            <xs:documentation>Response of migration process of a single Account or Traveler profile from host to uProfile.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
            <xs:extension base="common:BaseRsp">
            	<xs:attribute name="ProfileID" type="common:typeProfileID" use="optional">
	                <xs:annotation>
	                    <xs:documentation>The system-assigned, unique ID of the profile.</xs:documentation>
	                </xs:annotation>
            	</xs:attribute>
	            <xs:attribute name="Status" type="common:StringLength1to128" use="optional">
	                <xs:annotation>
	                    <xs:documentation>Status of the migration process.</xs:documentation>
	                </xs:annotation>
	            </xs:attribute>
	            <xs:attribute name="ProfileType" type="common:typeProfileType" use="optional">
	                <xs:annotation>
	                    <xs:documentation>The type of the migrated Profile e.g-Account,Traveler</xs:documentation>
	                </xs:annotation>
	            </xs:attribute>
	            </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
</xs:schema> 
