Wsdl/uprofile_v37_0/UProfileAbstract.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="UProfileService"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://www.travelport.com/service/uprofile_v37_0"
             xmlns:ns1="http://www.travelport.com/schema/uprofile_v37_0"
             xmlns:common="http://www.travelport.com/schema/common_v37_0"
             targetNamespace="http://www.travelport.com/service/uprofile_v37_0">

    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema"
                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                targetNamespace="http://www.travelport.com/schema/uprofile_v37_0">
            <include schemaLocation="UProfile.xsd"/>
            <include schemaLocation="UProfileReqRsp.xsd" />
        </schema>
    </types>
        
    <message name="ProfileCreateFieldRequest">
        <part name="parameters" element="ns1:ProfileCreateFieldReq" />
    </message>

    <message name="ProfileCreateFieldResponse">
        <part name="result" element="ns1:ProfileCreateFieldRsp" />
    </message>
    
    <message name="ProfileModifyFieldRequest">
        <part name="parameters" element="ns1:ProfileModifyFieldReq" />
    </message>

    <message name="ProfileModifyFieldResponse">
        <part name="result" element="ns1:ProfileModifyFieldRsp" />
    </message>
    
    <message name="ProfileCreateHierarchyLevelRequest">
        <part name="parameters" element="ns1:ProfileCreateHierarchyLevelReq" />
    </message>

    <message name="ProfileCreateHierarchyLevelResponse">
        <part name="result" element="ns1:ProfileCreateHierarchyLevelRsp" />
    </message>
    
    <message name="ProfileModifyHierarchyLevelRequest">
        <part name="parameters" element="ns1:ProfileModifyHierarchyLevelReq" />
    </message>

    <message name="ProfileModifyHierarchyLevelResponse">
        <part name="result" element="ns1:ProfileModifyHierarchyLevelRsp" />
    </message>
        
    <message name="ProfileDeleteHierarchyLevelRequest">
        <part name="parameters" element="ns1:ProfileDeleteHierarchyLevelReq" />
    </message>

    <message name="ProfileDeleteHierarchyLevelResponse">
        <part name="result" element="ns1:ProfileDeleteHierarchyLevelRsp" />
    </message>
    
    <message name="ProfileRetrieveHierarchyRequest">
        <part name="parameters" element="ns1:ProfileRetrieveHierarchyReq" />
    </message>

    <message name="ProfileRetrieveHierarchyResponse">
        <part name="result" element="ns1:ProfileRetrieveHierarchyRsp" />
    </message>
    
    <message name="ProfileCreateRequest">
        <part name="parameters" element="ns1:ProfileCreateReq" />
    </message>

    <message name="ProfileCreateResponse">
        <part name="result" element="ns1:ProfileCreateRsp" />
    </message>
    
    <message name="ProfileModifyRequest">
        <part name="parameters" element="ns1:ProfileModifyReq" />
    </message>

    <message name="ProfileModifyResponse">
        <part name="result" element="ns1:ProfileModifyRsp" />
    </message>
    
    <message name="ProfileRetrieveRequest">
        <part name="parameters" element="ns1:ProfileRetrieveReq" />
    </message>

    <message name="ProfileRetrieveResponse">
        <part name="result" element="ns1:ProfileRetrieveRsp" />
    </message>
    
    <message name="ProfileSearchRequest">
        <part name="parameters" element="ns1:ProfileSearchReq" />
    </message>

    <message name="ProfileSearchResponse">
        <part name="result" element="ns1:ProfileSearchRsp" />
    </message>    
    
    <message name="ProfileSearchActionRequest">
        <part name="parameters" element="ns1:ProfileSearchActionReq" />
    </message>

    <message name="ProfileSearchActionResponse">
        <part name="result" element="ns1:ProfileSearchActionRsp" />
    </message>

    <message name="ProfileRetrieveActionRequest">
        <part name="parameters" element="ns1:ProfileRetrieveActionReq" />
    </message>

    <message name="ProfileRetrieveActionResponse">
        <part name="result" element="ns1:ProfileRetrieveActionRsp" />
    </message>

    <message name="ProfileSearchFieldRequest">
        <part name="parameters" element="ns1:ProfileSearchFieldReq" />
    </message>

    <message name="ProfileSearchFieldResponse">
        <part name="result" element="ns1:ProfileSearchFieldRsp" />
    </message>
    
    <message name="ProfileCreateTagsRequest">
        <part name="parameters" element="ns1:ProfileCreateTagsReq" />
    </message>

    <message name="ProfileCreateTagsResponse">
        <part name="result" element="ns1:ProfileCreateTagsRsp" />
    </message>     

    <message name="ProfileModifyTemplateRequest">
        <part name="parameters" element="ns1:ProfileModifyTemplateReq" />
    </message>

    <message name="ProfileModifyTemplateResponse">
        <part name="result" element="ns1:ProfileModifyTemplateRsp" />
    </message>     
    
    <message name="ProfileModifyTagsRequest">
        <part name="parameters" element="ns1:ProfileModifyTagsReq" />
    </message>

    <message name="ProfileModifyTagsResponse">
        <part name="result" element="ns1:ProfileModifyTagsRsp" />
    </message>     

    <message name="ProfileDeleteTagRequest">
        <part name="parameters" element="ns1:ProfileDeleteTagReq" />
    </message>

    <message name="ProfileDeleteTagResponse">
        <part name="result" element="ns1:ProfileDeleteTagRsp" />
    </message> 

    <message name="ProfileRetrieveTemplateRequest">
        <part name="parameters" element="ns1:ProfileRetrieveTemplateReq" />
    </message>

    <message name="ProfileRetrieveTemplateResponse">
        <part name="result" element="ns1:ProfileRetrieveTemplateRsp" />
    </message>
    
    <message name="ProfileSearchTagsRequest">
        <part name="parameters" element="ns1:ProfileSearchTagsReq" />
    </message>

    <message name="ProfileSearchTagsResponse">
        <part name="result" element="ns1:ProfileSearchTagsRsp" />
    </message> 
    
    <message name="ProfileDeleteRequest">
        <part name="parameters" element="ns1:ProfileDeleteReq" />
    </message>

    <message name="ProfileDeleteResponse">
        <part name="result" element="ns1:ProfileDeleteRsp" />
    </message>   
    
    <message name="ProfileChildSearchRequest">
        <part name="parameters" element="ns1:ProfileChildSearchReq" />
    </message>

    <message name="ProfileChildSearchResponse">
        <part name="result" element="ns1:ProfileChildSearchRsp" />
    </message> 
    
    <message name="ProfileModifyBridgeBranchesRequest">
        <part name="parameters" element="ns1:ProfileModifyBridgeBranchesReq" />
    </message>

    <message name="ProfileModifyBridgeBranchesResponse">
        <part name="result" element="ns1:ProfileModifyBridgeBranchesRsp" />
    </message>    
        
    <message name="ProfileRetrieveBridgeBranchesRequest">
        <part name="parameters" element="ns1:ProfileRetrieveBridgeBranchesReq" />
    </message>
    
    <message name="ProfileRetrieveBridgeBranchesResponse">
        <part name="result" element="ns1:ProfileRetrieveBridgeBranchesRsp" />
    </message>
    
    <message name="ProfileRetrieveHistoryRequest">
        <part name="parameters" element="ns1:ProfileRetrieveHistoryReq" />
    </message>
    <message name="ProfileRetrieveHistoryResponse">
        <part name="result" element="ns1:ProfileRetrieveHistoryRsp" />
    </message>
    
    <message name="SingleProfileMigrationRequest">
        <part name="parameters" element="ns1:SingleProfileMigrationReq" />
    </message>

    <message name="SingleProfileMigrationResponse">
        <part name="result" element="ns1:SingleProfileMigrationRsp" />
    </message>  
    
    <message name="ProfileSummaryFaultMessage">
        <part name="fault" element="ns1:ProfileSummaryErrorInfo" />
    </message>
    
     <message name="FieldModifyFaultMessage">
        <part name="fault" element="ns1:FieldModifyErrorInfo" />
    </message>
    
    <message name="SystemFaultMessage">
        <part name="fault" element="common:ErrorInfo"/>
    </message>
    
    <portType name="ProfileCreateFieldPortType">
        <operation name="service">
            <input message="tns:ProfileCreateFieldRequest" />
            <output message="tns:ProfileCreateFieldResponse" />
            <fault name="ErrorInfoMsg" message="tns:SystemFaultMessage" />
        </operation>
    </portType>

    <portType name="ProfileModifyFieldPortType">
        <operation name="service">
            <input message="tns:ProfileModifyFieldRequest" />
            <output message="tns:ProfileModifyFieldResponse" />
            <fault name="ErrorInfoMsg" message="tns:SystemFaultMessage" />
            <fault name="FieldModifyErrorInfoMsg" message="tns:FieldModifyFaultMessage"/>
        </operation>
    </portType>
    
    <portType name="ProfileCreateHierarchyLevelPortType">
        <operation name="service">
            <input message="tns:ProfileCreateHierarchyLevelRequest" />
            <output message="tns:ProfileCreateHierarchyLevelResponse" />
            <fault name="ErrorInfoMsg" message="tns:SystemFaultMessage" />
        </operation>
    </portType>
    
    <portType name="ProfileModifyHierarchyLevelPortType">
        <operation name="service">
            <input message="tns:ProfileModifyHierarchyLevelRequest" />
            <output message="tns:ProfileModifyHierarchyLevelResponse" />
            <fault name="ErrorInfoMsg" message="tns:SystemFaultMessage" />
            <fault name="ProfileSummaryErrorInfoMsg" message="tns:ProfileSummaryFaultMessage"/>
        </operation>
    </portType>
    
    <portType name="ProfileDeleteHierarchyLevelPortType">
        <operation name="service">
            <input message="tns:ProfileDeleteHierarchyLevelRequest" />
            <output message="tns:ProfileDeleteHierarchyLevelResponse" />
            <fault name="ErrorInfoMsg" message="tns:SystemFaultMessage" />
            <fault name="ProfileSummaryErrorInfoMsg" message="tns:ProfileSummaryFaultMessage"/>
        </operation>
    </portType>
    
    <portType name="ProfileRetrieveHierarchyPortType">
        <operation name="service">
            <input message="tns:ProfileRetrieveHierarchyRequest" />
            <output message="tns:ProfileRetrieveHierarchyResponse" />
            <fault name="ErrorInfoMsg" message="tns:SystemFaultMessage" />
        </operation>
    </portType>
    
    <portType name="ProfileCreatePortType">
        <operation name="service">
            <input message="tns:ProfileCreateRequest" />
            <output message="tns:ProfileCreateResponse" />
            <fault name="ErrorInfoMsg" message="tns:SystemFaultMessage" />
        </operation>
    </portType>
    
    <portType name="ProfileModifyPortType">
        <operation name="service">
            <input message="tns:ProfileModifyRequest" />
            <output message="tns:ProfileModifyResponse" />
            <fault name="ErrorInfoMsg" message="tns:SystemFaultMessage" />
        </operation>
    </portType>

    <portType name="ProfileRetrievePortType">
        <operation name="service">
            <input message="tns:ProfileRetrieveRequest" />
            <output message="tns:ProfileRetrieveResponse" />
            <fault name="ErrorInfoMsg" message="tns:SystemFaultMessage" />
        </operation>
    </portType>
    
    <portType name="ProfileSearchPortType">
        <operation name="service">
            <input message="tns:ProfileSearchRequest" />
            <output message="tns:ProfileSearchResponse" />
            <fault name="ErrorInfoMsg" message="tns:SystemFaultMessage" />
        </operation>
    </portType>

    <portType name="ProfileSearchActionPortType">
        <operation name="service">
            <input message="tns:ProfileSearchActionRequest" />
            <output message="tns:ProfileSearchActionResponse" />
            <fault name="ErrorInfoMsg" message="tns:SystemFaultMessage" />
        </operation>
    </portType>

    <portType name="ProfileRetrieveActionPortType">
        <operation name="service">
            <input message="tns:ProfileRetrieveActionRequest" />
            <output message="tns:ProfileRetrieveActionResponse" />
            <fault name="ErrorInfoMsg" message="tns:SystemFaultMessage" />
        </operation>
    </portType>
    
    <portType name="ProfileSearchFieldPortType">
        <operation name="service">
            <input message="tns:ProfileSearchFieldRequest" />
            <output message="tns:ProfileSearchFieldResponse" />
            <fault name="ErrorInfoMsg" message="tns:SystemFaultMessage" />
        </operation>
    </portType> 
    
    <portType name="ProfileCreateTagsPortType">
        <operation name="service">
            <input message="tns:ProfileCreateTagsRequest" />
            <output message="tns:ProfileCreateTagsResponse" />
            <fault name="ErrorInfoMsg" message="tns:SystemFaultMessage" />
        </operation>
    </portType>
    
    <portType name="ProfileModifyTagsPortType">
        <operation name="service">
            <input message="tns:ProfileModifyTagsRequest" />
            <output message="tns:ProfileModifyTagsResponse" />
            <fault name="ErrorInfoMsg" message="tns:SystemFaultMessage" />
        </operation>
    </portType>
    
    <portType name="ProfileDeleteTagPortType">
        <operation name="service">
            <input message="tns:ProfileDeleteTagRequest" />
            <output message="tns:ProfileDeleteTagResponse" />
            <fault name="ErrorInfoMsg" message="tns:SystemFaultMessage" />
            <fault name="ProfileSummaryErrorInfoMsg" message="tns:ProfileSummaryFaultMessage"/>
        </operation>
    </portType>    
    
    <portType name="ProfileRetrieveTemplatePortType">
        <operation name="service">
            <input message="tns:ProfileRetrieveTemplateRequest" />
            <output message="tns:ProfileRetrieveTemplateResponse" />
            <fault name="ErrorInfoMsg" message="tns:SystemFaultMessage" />
        </operation>
    </portType>
    
    <portType name="ProfileSearchTagsPortType">
        <operation name="service">
            <input message="tns:ProfileSearchTagsRequest" />
            <output message="tns:ProfileSearchTagsResponse" />
            <fault name="ErrorInfoMsg" message="tns:SystemFaultMessage" />
        </operation>
    </portType>    

    <portType name="ProfileModifyTemplatePortType">
        <operation name="service">
            <input message="tns:ProfileModifyTemplateRequest" />
            <output message="tns:ProfileModifyTemplateResponse" />
            <fault name="ErrorInfoMsg" message="tns:SystemFaultMessage" />
        </operation>
    </portType>
    
    <portType name="ProfileDeletePortType">
        <operation name="service">
            <input message="tns:ProfileDeleteRequest" />
            <output message="tns:ProfileDeleteResponse" />
            <fault name="ErrorInfoMsg" message="tns:SystemFaultMessage" />
        </operation>
    </portType>

    <portType name="ProfileChildSearchPortType">
        <operation name="service">
            <input message="tns:ProfileChildSearchRequest" />
            <output message="tns:ProfileChildSearchResponse" />
            <fault name="ErrorInfoMsg" message="tns:SystemFaultMessage" />
        </operation>
    </portType>
    
     <portType name="ProfileModifyBridgeBranchesPortType">
        <operation name="service">
            <input message="tns:ProfileModifyBridgeBranchesRequest" />
            <output message="tns:ProfileModifyBridgeBranchesResponse" />
            <fault name="ErrorInfoMsg" message="tns:SystemFaultMessage" />
        </operation>
    </portType>
    
    <portType name="ProfileRetrieveBridgeBranchesPortType">
        <operation name="service">
            <input message="tns:ProfileRetrieveBridgeBranchesRequest" />
            <output message="tns:ProfileRetrieveBridgeBranchesResponse" />
            <fault name="ErrorInfoMsg" message="tns:SystemFaultMessage" />
        </operation>
    </portType>   
    
    <portType name="ProfileRetrieveHistoryPortType">
        <operation name="service">
            <input message="tns:ProfileRetrieveHistoryRequest" />
            <output message="tns:ProfileRetrieveHistoryResponse" />
            <fault name="ErrorInfoMsg" message="tns:SystemFaultMessage" />
        </operation>
    </portType>
    
    <portType name="SingleProfileMigrationPortType">
        <operation name="service">
            <input message="tns:SingleProfileMigrationRequest" />
            <output message="tns:SingleProfileMigrationResponse" />
            <fault name="ErrorInfoMsg" message="tns:SystemFaultMessage" />
        </operation>
    </portType>
    
</definitions>
