unit3/wsdl/filefinishing_v8_0/FileFinishingReqRsp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.travelport.com/schema/filefinishing_v8_0"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.travelport.com/schema/filefinishing_v8_0"
	xmlns:common="http://www.travelport.com/schema/common_v15_0"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:annotation>
        <xs:documentation>(c) Travelport GDS 2008 All rights reserved. Proprietary Information of Travelport GDS.</xs:documentation>
    </xs:annotation>

	<xs:import schemaLocation="../common_v15_0/CommonReqRsp.xsd"
		namespace="http://www.travelport.com/schema/common_v15_0" />
	<xs:include schemaLocation="FileFinishing.xsd" />
	
	<xs:element name="FFAdminCreateReq">
		<xs:annotation>
			<xs:documentation>Create FF Admin String Request
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:BaseReq">
					<xs:sequence>
						<xs:choice minOccurs="0">
							<xs:element ref="GDSString" />
							<xs:element ref="ItineraryString" />
						</xs:choice>
						<xs:element ref="Vendor" minOccurs="0" />
						<xs:element ref="Rule" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Rules to determine when File Finishing
									strings need to be applied</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="AssociatedProfile" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
					<xs:attribute name="Name" use="required">
						<xs:annotation>
							<xs:documentation>Name of String. Must be unique for Agency
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ProviderCode" type="common:typeProviderCode"
						use="required" />
					<xs:attribute name="Description" type="xs:string">
						<xs:annotation>
							<xs:documentation>Descriiption of String
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Active" type="xs:boolean" default="false">
						<xs:annotation>
							<xs:documentation>If Active, String and Rules will be
								considered 'live' and applied. False by default
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ApplyRule" type="typeApplyRule">
						<xs:annotation>
							<xs:documentation>Rule that controls how the string is
								applied to the PNR.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="RestrictedUse" type="xs:boolean"
						default="false">
						<xs:annotation>
							<xs:documentation>Indicates that the FF string can only
								be changed by ???</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="DomesticMarket" type="xs:boolean" default="false">
						<xs:annotation>
							<xs:documentation>Apply String when Origin and Destination Countries are same</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="InternationalMarket" type="xs:boolean" default="false">
						<xs:annotation>
							<xs:documentation>Apply String when Origin and Destination Countries are different </xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="SecondaryOwner" type="common:typeProfileID" use="optional">
				       <xs:annotation>
				           <xs:documentation>Secondary Owner of the FileFinishing string</xs:documentation>
				       </xs:annotation>
				    </xs:attribute>
   				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="FFAdminCreateRsp">
		<xs:annotation>
			<xs:documentation>Create FF Admin String Response
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:BaseRsp">
					<xs:sequence>
						<xs:element ref="FFString">
							<xs:annotation>
								<xs:documentation>FF Admin String</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="FFAdminModifyReq">
      <xs:annotation>
         <xs:documentation>Modify FF Admin String Request</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="common:BaseReq">
               <xs:choice>
                  <xs:element name="UpdateFFString" type="typeFFString"/>
                  <xs:element name="AddProfileAssociation" maxOccurs="unbounded">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element ref="AssociatedProfile"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="DeleteProfileAssociation" maxOccurs="unbounded">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element ref="AssociatedProfile"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:choice>
               <xs:attribute name="ID" use="required">
                  <xs:annotation>
                     <xs:documentation>Unique Identifier</xs:documentation>
                  </xs:annotation>
               </xs:attribute>
               <xs:attribute name="Version" use="required"/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
	<xs:element name="FFAdminModifyRsp">
		<xs:annotation>
			<xs:documentation>Modify FF Admin String Response
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:BaseRsp">
					<xs:sequence>
						<xs:element ref="FFString">
							<xs:annotation>
								<xs:documentation>FF Admin String</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="FFAdminDeleteReq">
		<xs:annotation>
			<xs:documentation>Delete FF Admin String Request
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:BaseReq">
					<xs:attribute name="ID" use="required">
						<xs:annotation>
							<xs:documentation>Unique Identifier</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Version" use="required" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="FFAdminDeleteRsp">
		<xs:annotation>
			<xs:documentation>Delete FF Admin String Response
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:BaseRsp" />
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="FFAdminSearchReq">
		<xs:annotation>
			<xs:documentation>Search for String Request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:BaseSearchReq">
					<xs:attribute name="Name" type="xs:string">
						<xs:annotation>
							<xs:documentation>Search by String Name</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Description" type="xs:string">
						<xs:annotation>
							<xs:documentation>Search by String Description
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Modifiable" type="xs:boolean" use="optional">
			            <xs:annotation>
			                <xs:documentation>searching agent would need to know which searched FF string he can modify and which not.</xs:documentation>
			            </xs:annotation>
			        </xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="FFAdminSearchRsp">
		<xs:annotation>
			<xs:documentation>Search for String Response</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:BaseSearchRsp">
					<xs:sequence>
						<xs:element ref="FFStringSearchResult" minOccurs="0"
							maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>FF Search Result</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="FFAdminRetrieveReq">
		<xs:annotation>
			<xs:documentation>Retrieve String Request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:BaseReq">
					<xs:attribute name="ID" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation>Unique Identifier</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="FFAdminRetrieveRsp">
		<xs:annotation>
			<xs:documentation>Retrieve String Response</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:BaseRsp">
					<xs:sequence>
						<xs:element ref="FFString">
							<xs:annotation>
								<xs:documentation>FF Admin String</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
    <xs:element name="FFAdminMasterDataReq">
      <xs:annotation>
         <xs:documentation>Retrieve Master Data Request</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="common:BaseReq">
               <xs:attribute name="Type" use="optional">
                  <xs:annotation>
                     <xs:documentation>Type of Master Data Requested. If not present, all types are returned</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:enumeration value="PNRField"/>
                        <xs:enumeration value="AssignableField"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:attribute>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="FFAdminMasterDataRsp">
      <xs:annotation>
         <xs:documentation>Retrieve Master Data Response</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="common:BaseRsp">
               <xs:sequence>
                  <xs:element name="PNRField" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                     <xs:annotation>
                        <xs:documentation>List of PNR Fields</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="AssignableField" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                     <xs:annotation>
                        <xs:documentation>List of Assignable UR Fields</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="FFAdminProfileSearchReq">
        <xs:annotation>
                <xs:documentation>Search for Children Profiles and associated File Finishing Strings Request</xs:documentation>
        </xs:annotation>
        <xs:complexType>
                <xs:complexContent>
                        <xs:extension base="common:BaseSearchReq">                                
                                <xs:sequence>
                                	<xs:element ref="FFAdminProfileSearchModifiers" minOccurs="0"/>
								</xs:sequence>
								<xs:attribute name="ProfileID" type="common:typeProfileID" use="optional">
                                        <xs:annotation>
                                                <xs:documentation>Search by Parent Profile ID</xs:documentation>
                                        </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="Modifiable" type="xs:boolean" use="optional">
						            <xs:annotation>
						                <xs:documentation>searching agent would need to know which searched FF string he can modify and which not.</xs:documentation>
						            </xs:annotation>
						        </xs:attribute>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
   </xs:element>
   <xs:element name="FFAdminProfileSearchRsp">
      <xs:annotation>
         <xs:documentation>Search for Children Profiles and associated Fiile Finishing Strings Response</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="common:BaseSearchRsp">
               <xs:sequence>
                  <xs:element ref="FFAdminProfileSearchResult" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
               <xs:attribute name="MoreResults" type="common:typeMoreResults" use="optional">
                  <xs:annotation>
                     <xs:documentation>Indicates whether more results area available that match the search parameters.</xs:documentation>
                  </xs:annotation>
               </xs:attribute>
               <xs:attribute name="NumberOfChildren" type="xs:int">
                  <xs:annotation>
                     <xs:documentation>Total number of children that the profile searched under has,</xs:documentation>
                  </xs:annotation>
               </xs:attribute>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="FFAdminUnassignedFFSearchReq">
		<xs:annotation>
			<xs:documentation>Search Request for File Finishing Strings that are not assigned to a profile.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:BaseSearchReq">
					<xs:sequence>
						<xs:element ref="FFAdminProfileSearchModifiers" minOccurs="0" />
					</xs:sequence>
					<xs:attribute name="AgencyID" type="common:typeProfileID"
						use="optional">
						<xs:annotation>
							<xs:documentation>Agency Profile ID</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Modifiable" type="xs:boolean" use="optional">
			            <xs:annotation>
			                <xs:documentation>searching agent would need to know which searched FF string he can modify and which not.</xs:documentation>
			            </xs:annotation>
			        </xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
    </xs:element>
    <xs:element name="FFAdminUnassignedFFSearchRsp">
		<xs:annotation>
			<xs:documentation>Search Response for File Finishing Strings that are not assigned to a profile.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:BaseSearchRsp">
					<xs:sequence>
						<xs:element ref="FFAdminUnassociatedFFSearchResult"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
					<xs:attribute name="MoreResults" type="common:typeMoreResults"
						use="optional">
						<xs:annotation>
							<xs:documentation>Indicates whether more results area available that match the search parameters.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="NumberOfChildren" type="xs:int">
						<xs:annotation>
							<xs:documentation>Total number of children that the profile searched under has,</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
    </xs:element>
</xs:schema>
