wsdl/hotel_v17_0/HotelReqRsp.xsd

<xs:schema xmlns="http://www.travelport.com/schema/hotel_v17_0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.travelport.com/schema/hotel_v17_0"
           xmlns:ur_v16_0="http://www.travelport.com/schema/universal_v16_0"
           xmlns:common="http://www.travelport.com/schema/common_v15_0"
           elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:annotation>
        <xs:documentation>(c) Travelport GDS 2008 All rights reserved. Proprietary Information of Travelport GDS.</xs:documentation>
    </xs:annotation>

    <xs:import schemaLocation="../common_v15_0/CommonReqRsp.xsd" namespace="http://www.travelport.com/schema/common_v15_0"/>
    <xs:import schemaLocation="../universal_v16_0/UniversalRecord.xsd" namespace="http://www.travelport.com/schema/universal_v16_0"/>
    <xs:include schemaLocation="Hotel.xsd" />   
    
    <!--*** Request Types ***-->
    <xs:element name="HotelSearchAvailabilityReq">
        <xs:annotation>
            <xs:documentation>Request to search for hotel availability</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseSearchReq">
                    <xs:sequence>
                        <xs:element ref="HotelLocation" minOccurs="0"/>
                        <xs:element ref="HotelSearchModifiers" minOccurs="0"/>
                        <xs:element ref="HotelStay"/>
                        <xs:element ref="common:PointOfSale" minOccurs="0" />                         
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="HotelSearchAvailabilityRsp">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseSearchRsp">
                    <xs:sequence>
                       <xs:element ref="common:VendorLocation" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element ref="HotelSearchResult" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element ref="common:MarketingInformation" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
<xs:element name="HotelDetailsReq">
		<xs:annotation>
			<xs:documentation>Request to retrieve the details of a hotel property</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="BaseHotelDetailsReq"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="HotelDetailsRsp">
  		<xs:annotation>
   			<xs:documentation>Response showing details of a given hotel property</xs:documentation>
  		</xs:annotation>
  		<xs:complexType>
   			<xs:complexContent>
    			<xs:extension base="common:BaseRsp">
     				<xs:choice>
					      <xs:element ref="RequestedHotelDetails"/>
					      <xs:element ref="HotelAlternateProperties"/>
				     </xs:choice>
				</xs:extension>
   			</xs:complexContent>
  		</xs:complexType>
	</xs:element>
    <xs:element name="HotelCreateReservationReq">
        <xs:annotation>
            <xs:documentation>Request to create a hotel reservation</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseCreateReservationReq">
                    <xs:sequence>
                        <xs:element ref="HotelRateDetail"/>
                        <xs:element ref="HotelProperty"/>
                        <xs:element ref="common:ThirdPartyInformation" minOccurs="0"/>
                        <xs:element ref="HotelStay"/>
                        <xs:element ref="common:Guarantee" minOccurs="0"/>
                        <xs:element ref="HotelSpecialRequest" minOccurs="0"/>                        
                        <xs:element ref="common:PointOfSale" minOccurs="0" />
                        <xs:element ref="PromotionCode" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Used to specify promotional code include in the booking</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                                    <!-- NEW Booking Source -->
                        <xs:element ref="common:BookingSource" minOccurs="0">
                            <xs:annotation>
                               <xs:documentation>Specify alternate booking source</xs:documentation>
                            </xs:annotation>
                        </xs:element> 
                        <xs:element ref="HotelBedding"  minOccurs="0" maxOccurs="4"/>
                        <xs:element ref="GuestInformation" minOccurs="0"/>
                        <xs:element ref="AssociatedRemark" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element ref="common:ReservationName" minOccurs="0">
                           <xs:annotation>
                              <xs:documentation>If specified then it will be used for GDS reservation otherwise first booking traveler will be used. </xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element ref="common:ActionStatus" minOccurs="0"/>
                     </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="HotelCreateReservationRsp">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseRsp">
                    <xs:choice>
                        <xs:element ref="ur_v16_0:UniversalRecord" minOccurs="0"/>
                    </xs:choice>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="HotelRetrieveReq">
        <xs:annotation>
            <xs:documentation>Retrieve request for a hotel booking. Given a provider code and a provider locator code.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseReq">
                    <xs:attributeGroup ref="ur_v16_0:providerReservation"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="HotelRetrieveRsp">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseRsp">
                    <xs:sequence>
                        <xs:element ref="HotelReservation" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="HotelCancelReq">
        <xs:annotation>
            <xs:documentation>Cancel request for a hotel booking. Given a provider code and a provider locator code.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseReq">
                    <xs:sequence>
                        <xs:element ref="HotelProperty" minOccurs="0"/>
                        <xs:element ref="HotelStay" minOccurs="0"/>
                         <xs:element ref="common:FileFinishingInfo" minOccurs="0"/>
                    </xs:sequence>
                    <xs:attribute name="SupplierCode" type="xs:string" use="optional"/>
                    <xs:attribute name="SupplierLocatorCode" type="xs:string" use="optional"/>                    
                    <xs:attributeGroup ref="ur_v16_0:providerReservation"/>                    
                    <xs:attribute name="Version" type="common:typeURVersion" use="required" />
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="HotelCancelRsp">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseRsp">
                    <xs:choice>
                        <xs:element ref="ur_v16_0:UniversalRecord" minOccurs="0" maxOccurs="1"/>
                    </xs:choice>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="HotelMediaLinksReq">
        <xs:annotation>
            <xs:documentation>Retrieves all image links from the Galileo Web Services Image Viewer eBL for up to 20 properties. Only the attributes of the HotelProperty are used in this request.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseReq">
                    <xs:sequence maxOccurs="20">
                        <xs:element ref="HotelProperty"/>
                    </xs:sequence>
                    <xs:attribute name="SecureLinks" type="xs:boolean" use="optional" default="true">
                        <xs:annotation>
                            <xs:documentation>Request URLs returned use secured site (https) references. Default is true</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="SizeCode" type="typeRequestedImageSize" use="optional" default="A">
                        <xs:annotation>
                            <xs:documentation>Requested image size. Default is to get ALL images </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="RichMedia" type="xs:boolean" use="optional" default="true">
                        <xs:annotation>
                           <xs:documentation>Request the Rich Media link. Default is true</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="Gallery" type="xs:boolean" use="optional" default="true">
                        <xs:annotation>
                            <xs:documentation>Request the Image Gallery link. Default is true</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="HotelMediaLinksRsp">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseRsp">
                    <xs:sequence>
                         <xs:element ref="HotelPropertyWithMediaItems" maxOccurs="20"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="HotelRulesReq">
		<xs:annotation>
	  		<xs:documentation>Retrieves hotel rules using hotel property code, chain code and hotel room rate type.</xs:documentation>
	  	</xs:annotation>
	  	<xs:complexType>
	   		<xs:complexContent>
	    		<xs:extension base="common:BaseReq">
	     			<xs:choice>
	      				<xs:element name="HotelReservationLocatorCode" type="common:typeLocatorCode">
	       					<xs:annotation>
	        					<xs:documentation>Request hotel rules using Locator code of existing hotel reservation.</xs:documentation>
	       					</xs:annotation>
	      				</xs:element>
	      				<xs:element name="HotelRulesLookup">
	       					<xs:annotation>
	        					<xs:documentation>Details to request Hotel rate rules post shopping request.</xs:documentation>
	       					</xs:annotation>
	       					<xs:complexType>
	        					<xs:sequence>
	         						<xs:element ref="HotelProperty"/>
	         						<xs:element ref="HotelStay"/>
	         						<xs:element ref="HotelRulesModifiers" minOccurs="0"/>
	        					</xs:sequence>
	        					<xs:attribute name="RatePlanType" type="xs:string" use="required">
	         						<xs:annotation>
	          							<xs:documentation>This is room rate plan type for a particular rate plan</xs:documentation>
	         						</xs:annotation>
	        					</xs:attribute>
	        					<xs:attribute name="Base" type="common:typeMoney" use="required">
	         						<xs:annotation>
	          							<xs:documentation>This is the Base Amount for the selected rate plan type as received in Hotel Details/Book/Modify Response.
	          							</xs:documentation>
	         						</xs:annotation>
	        					</xs:attribute>
	       					</xs:complexType>
	      				</xs:element>
	     			</xs:choice>
	    		</xs:extension>
	   		</xs:complexContent>
	  </xs:complexType>
	</xs:element>
    <xs:element name="HotelRulesRsp">
        <xs:annotation>
            <xs:documentation>Response showing rule details of a given
                hotel property and room rate code</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:BaseRsp">
                    <xs:sequence>
                        <xs:element ref="HotelRateDetail" minOccurs="0"
                            maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Returns hotels rate and rule details.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element ref="HotelRuleItem" minOccurs="0"
                            maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Return rules and policies related to the
                                    property (Like Cancellation, Accepted FOP etc.).
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="PriceRange">
        <xs:attribute name="Low" type="common:typeMoney" use="required"/>
        <xs:attribute name="High" type="common:typeMoney" use="required"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="DateRange">
        <xs:attribute name="Start" type="typeDate" use="required"/>
        <xs:attribute name="End" type="typeDate" use="required"/>
    </xs:attributeGroup>
    <xs:element name="RatesAndDates">
        <xs:annotation>
            <xs:documentation>Contains the rates that apply over a date range, all with the same status. May represent multiple rooms.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="Status" type="xs:string" use="required"/>
            <xs:attributeGroup ref="DateRange"/>
            <xs:attributeGroup ref="PriceRange"/>
        </xs:complexType>
    </xs:element>
    
  	<xs:element name="HotelUpsellDetailsReq">
      <xs:annotation>
         <xs:documentation>Upsell Request to retrieve the details of a hotel property.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
  		<xs:complexContent>
			<xs:extension base="common:BaseReq">
			<xs:sequence>
			<xs:element ref="HotelProperty" />
            <xs:element ref="HotelRateDetail" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>Only returned if number of adults and   checkin/checkout given on request</xs:documentation>
               </xs:annotation>
            </xs:element>
            </xs:sequence>
			</xs:extension>
		</xs:complexContent>     
      </xs:complexType>
   </xs:element>
   
   <xs:element name="HotelUpsellDetailsRsp">
		<xs:annotation>
			<xs:documentation>Upsell Response showing details of a given hotel property.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="BaseHotelDetailsRsp"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="BaseHotelDetailsReq">
		<xs:annotation>
			<xs:documentation>Base request for all hotel details search request..</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="common:BaseReq">
				<xs:sequence>
					<xs:element ref="HotelProperty"/>
					<xs:element ref="HotelDetailsModifiers" minOccurs="0"/>
					<xs:element ref="common:PointOfSale" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseHotelDetailsRsp">
		<xs:annotation>
			<xs:documentation>Base response for all hotel details search response.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="common:BaseRsp">
				<xs:sequence>
					<xs:element ref="HotelProperty"/>
					<xs:element ref="HotelDetailItem" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="HotelRateDetail" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Only returned if number of adults and checkin/checkout given on request</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element name="HotelKeywordReq">
		<xs:annotation>
			<xs:documentation>Request to retrieve the hotel keyword details of a hotel chain or property</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:BaseReq">
					<xs:sequence>
						<xs:element ref="common:Keyword" minOccurs="0" maxOccurs="15">
							<xs:annotation>
								<xs:documentation>Used to request specific keyword details.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="HotelChain" type="common:typeHotelChainCode" use="required" />
					<xs:attribute name="HotelCode" type="common:typeHotelCode" use="optional" />
					<xs:attribute name="CheckinDate" type="typeDate" use="optional" />
					<xs:attribute name="ReturnKeywordList" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>When true, a list of keyword names should
								be returned. If false then list of keyword details should be
								returned</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="HotelKeywordRsp">
		<xs:annotation>
			<xs:documentation>Response showing keyword details of a given
				hotel chain or property</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:BaseRsp">
					<xs:sequence>
						<xs:element ref="common:MarketingInformation" minOccurs="0" maxOccurs="unbounded" />
						<xs:element ref="common:Keyword" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>A word that a vendor uses to describe corporate policy/information.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>    
</xs:schema>
